<footer>
    <div class="footer_top">
        <div class="responsive_container">
            <div class="footer_block">
                <img src="https://www.lifafa.com/frontend/images/foot_logo.png" />
                <!-- <span>Simple and Secure <br/>Cash Gifting</span> -->
            </div>
            <div class="footer_block">
                <ul>
                    <li>
                         <a href="https://www.lifafa.com/create-lifafa" class="create_lifafa_footer_btn">Create a Lifafa</a>
                    </li>
                    <li>
                        <a href="https://www.lifafa.com/giftlifafa" class="primary_text_color">Gift with Lifafa</a>
                    </li>
                    <li>
                       <a href="https://www.lifafa.com/redeem-a-lifafa" class="primary_text_color"> Redeem a Lifafa </a>
                    </li>

                </ul>
            </div>
            <div class="footer_block">
                <ul>
                    <li>
                        <a href="https://www.lifafa.com/our-story">About Lifafa</a>
                    </li>
                    <li>
                        <a href="https://www.lifafa.com/lifafa-business">Partner with Us</a>
                    </li>
                    <li>
                        <a href="https://www.lifafa.com/faqs">FAQ's</a>
                    </li>
                    <li>
                        <a href="http://blog.lifafa.com/">Blog</a>
                    </li>
                    <li>
                        <a href="https://www.lifafa.com/contact-us">Contact us</a>
                    </li>
                    
                </ul>
            </div>
            

            <div class="footer_middle">
                <div class="newsletter_wrap">
                    <span>Sign up for our newsletter</span>
                    <form method="POST" action="https://www.lifafa.com" accept-charset="UTF-8" id="subscribe_form"><input name="_token" type="hidden" value="HeetjtguZH23gN8l2JkG1abL8Q8PSSHSrP8sheM0">                    <div class="subscribe_form">
                        <input class="subscribe_input" placeholder="Enter Email ID" name="email" type="text">                        <button type="submit" class="subscribe_submit" id="subscribe_submit">Go</button>
                    </div>
                    <span id="email_error" class="mdl-textfield__error"></span>
                    <span id="wait" style="display:none">Please Wait...</span>
                    <span id="email_success" style="color:green; display:none">You have subscribed successfully!</span>
                    </form>                </div>
                <div class="follow_us">
                    <span>Follow Us</span>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/mylifafa" class="circle fb_color" target="_blank">
                            <i class="li li_facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/mylifafa" class="circle twitter_color" target="_blank">
                            <i class="li li_twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/mylifafa" class="circle insta_color" target="_blank">
                            <i class="li li_instagram"></i>
                            </a>
                        </li>
                        <!--li>
                            <a href="https://www.snapchat.com/add/mylifafa" class="circle snapchat_color" target="_blank">
                            <i class="li li_snapchat"></i>
                            </a>
                        </li-->
                        <li>
                            <a href="https://plus.google.com/b/100518503765162905530/" class="circle google_plus_bg" target="_blank">
                            <i class="li li_google-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="footer_bottom">
        <div class="responsive_container">
            <div class="width_70 floatL">
                <p>© 2017 Lifafa.com, All rights reserved.</p>
                <ul>
                    <li>
                        <a href="https://www.lifafa.com/terms-condition">Terms & Conditions </a>
                    </li>

                    <li>
                        <a href="https://www.lifafa.com/privacy-policy">Privacy Policy </a>
                    </li>

                    <li>
                        <a href="https://www.lifafa.com/redemption-cancellation">Redemption & Cancellation policy </a>
                    </li>
                </ul>
            </div>
            <div class="width_30 floatR right_footer_bottom">
                <div class="floatR">
                    <span>Credits</span>
                    <a href="http://www.pivotroots.com/"><span class="footer_images_pr"></span></a>
                </div>
                <div class="floatR">
                    <span>Powered  by</span>
                    <span class="footer_images_yes"></span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <main class = "mdl-layout__content">
        <div class = "mdl-grid">
               <div class = "mdl-cell mdl-cell--4-col graybox">1</div>
               <div class = "mdl-cell mdl-cell--4-col graybox">2</div>
               <div class = "mdl-cell mdl-cell--4-col graybox">3</div>
            </div>
    </main>
</footer>