<header id="" class="mdl-shadow--2dp white_bg ui-header ui-bar-inherit ui-header-fixed slidedown" data-role="header" data-position="fixed" data-tap-toggle="false" role="banner">
    <div class="display_flex justify_content align_items_center">
	    <div>
	    	<a href="#" class="cd-btn ui-link ui-btn-left ui-btn ui-shadow ui-corner-all" data-role="button" role="button">
		        <i class="li li_dehaze"></i>
		    </a>
		    <a href="https://www.lifafa.com" rel="external" data-ajax="external" class="header-logo ui-link ui-btn-right ui-btn ui-shadow ui-corner-all" data-role="button" role="button">
		        <img src="https://www.lifafa.com/mobile_images/lifafa_mobile.png" alt="" class="verticle_align">
		    </a>
	    </div>

	    <div class="">
	    	<ul class="display_flex align_items_center font_size14">
	    		<li >
	                <div class="search_wrap">
	                    <button id="btn_search" class="btn_search">
	                        <i class="li li_search"></i>
	                    </button>
	                </div>
	            </li>

	            <li class="ml30 mr50 d-none d-sm-block">
	                <a href="https://www.lifafa.com/faqs">Help</a>
	            </li>

	            <li class="mr50 d-none d-sm-block">
	                <a href="" data-popup-open="login_modal">Login</a>
	            </li>

	            <li class="mr50 d-none d-sm-block">
	                <a href="" data-popup-open="signin_modal">Signup</a>
	            </li>
	        </ul>
	    </div>



    </div>
</header>
<div class="header-spacer"></div>