<header class="mdl-shadow--2dp white_bg ui-header ui-bar-inherit ui-header-fixed slidedown" data-role="header" data-position="fixed" data-tap-toggle="false" role="banner">
    <a href="https://www.lifafa.com" rel="external" data-ajax="external" class="header-logo ui-link ui-btn-right ui-btn ui-shadow ui-corner-all" data-role="button" role="button">
        <img src="https://www.lifafa.com/mobile_images/lifafa_mobile.png" alt="" class="verticle_align">
    </a>
    <a href="#" class="cd-btn ui-link ui-btn-left ui-btn ui-shadow ui-corner-all" data-role="button" role="button">
        <i class="li li_dehaze"></i>
    </a>
</header>
<div class="header-spacer"></div>