{{ define "main" }}
	

	<div class="powered-by">

		<header class="mdl-shadow--2dp white_bg mobile_header ui-header ui-bar-inherit ui-header-fixed slidedown" data-role="header" data-position="fixed" data-tap-toggle="false" role="banner">
			<div class="display_flex justify_content align_items_center padding_left10 padding_right10">
				<div class="">
					<a href="https://www.lifafa.com" data-role="none" class="back_btn p-0" data-transition="slidefade">
						<i class="material-icons">arrow_back</i>
					</a>
				</div>

				<span class="header_text flex-1 text_align_center">OTP Verification</span>
			</div>
		</header>
		
		<div class="w-sm-480px m-auto">
			<div class="pt50">
				<ul class="breadcrumb display_flex">
					<li class="active"><a href="#">Mobile Verification <i class="material-icons font14 text-success vertical-middle">check_circle</i></a></li>
					<li><a href="#">Aadhar KYC</a></li>
				</ul>
			</div>
		</div>

		<div class="padding_20 ml20 mr20 container w-sm-480px powered-by-child otp-verification">
			<div class="text_align_center pt-sm-30">
				<div class="font_size16 font_weight_bold text_align_center">Enter the 6 digit OTP </div>

				<div class="modal_wrap verfiy_mobile_modal " id="mobile_top_verification" data-popup="verifyMobile_modal">
					<div class="verify_mobile_modal_sec modal_inner">
						<button onclick="closeModel()" class="close li li_cancel" id="mobile_top_verification_var"></button>
						
						<div class="resetPassword_field">
							<form id="otp_form">
								<div class="">
									<div class="valid_tick mdl-textfield input__field mdl-js-textfield mdl-textfield--floating-label w-100 otp-group text_align_center pt5 mt20">
										<input class="mdl-textfield__input otp-textbox m-auto" type="text" id="verify_mobile_otp" name="verify_mobile_otp" maxlength="6">
										<!-- <label class="mdl-textfield__label" for="verify_mobile_otp">Enter OTP</label> -->
										<input type="hidden" id="verify_mobile" name="verify_mobile">
										<span id="verify_mobile_otp_error" class="  mdl-textfield__error"></span>
										<span class="is_success" id="temp_otp"></span>
									</div>
									
									
									<div class="resetPass_verify_btn w-sm-50 m-sm-auto otp-continue mb20 ">
										<a href="/lifafa_html/create/lifafa-view-after-open-contribution/" id="forgot_otp_btn" class="mdl-button mdl-js-button mdl-js-ripple-effect verify_button primary_border_color bg-transparent primary_text_color w-100 disabled">Continue</a>
									</div>
	
									<p class="font_weight_bold font14 text-darker"> Didn't receive the OTP?</p>
									
									<div class="display_flex align_items_center justify_content_center mt5">
										<div id="txt_msg" class=" font_weight_bold font14 text-darker mr5">Please Wait: </div>
										<div id="otp-resend-countdown" class="otp-countdown font14 font_weight_bold"></div>
									</div>
									
									
									<div class="mt-sm-5 mb-sm-5">
										<p class="font_weight_bold font14 text-darker text_align_left mt10">Want to proceed without Aadhaar KYC? Sure!</p>

										<div class="alert alert-warning mb5 mt5">
											<!-- <p class="font_size13 gray_color text_align_left">You can create a Lifafa with a limit of <span class="primary_text_color">Rs.8238/-</span></p> -->
											<p class="font_size13 gray_color text_align_left">You can accept contributions only up to the mentioned amount.</p>
										</div>

										<!-- <p class="font_weight_normal font14 text_align_left font_size12 mb10">This is because there is an exisiting balance in other pre-paid wallet linked with this Aadhaar number.</p> -->
										<p class="font_weight_normal font14 text_align_left font_size12 mb10">This is because pre-paid wallets linked with this Aadhaar number have an existing balance. The sum across all such wallets cannot exceed Rs.10,000/-</p>
									</div>
									
									<div class="w-100 w-sm-50 m-sm-auto otp-continue">
										<button id="signup_form_submit" type="submit" class="mdl-button mdl-js-button mdl-button--raised primary_color width_100">Skip KYC to Create Lifafa</button>
									</div>

								</div>
							</form>

						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>



 	
{{ end }}