{{ define "main" }}
<div class="gradient">
	<header class="mdl-shadow--2dp white_bg mobile_header ui-header ui-bar-inherit ui-header-fixed slidedown" data-role="header" data-position="fixed" data-tap-toggle="false" role="banner">
		<div class="display_flex justify_content align_items_center padding_left10 padding_right10">
			<div class="">
				<a href="https://www.lifafa.com" data-role="none" class="back_btn p-0" data-transition="slidefade">
					<i class="material-icons">arrow_back</i>
				</a>
			</div>

			<span class="header_text flex-1 text_align_center">Accept Lifafa</span>
		</div>
	</header>

	<div class="page-banner  mh-200px mt40 pt10  gift-bg display_flex align_items_center">
		
		<div class="container ">
			<div class="padding_20">
				<div class="text-sm-center">
					<h1 class="text-white font_size24 primary_text_color text-sm-white">Congratulations!</h1>
				</div>
			</div>
		</div> <!-- /container -->
	</div>

	<div class="padding_20 ml20 mr20 bg-white display_flex  flex_column justify_content container w-sm-480px text_align_center">
		<p class="font14 font_weight_bold mb30">Hello Neha Sharma,</p>

		<div class="">
			<p class="font_weight_normal font_size16">Rahul Sharma gifted you this Lifafa,</p>
			<p class="primary_text_color font_weight_normal font_size16">Nikhil & Pooja's wedding</p>
		</div>


		<div class="mt30 mb30 pt15 pb15 box-wrap border-primary w-75 mx-auto">
            <div class="font_size14 font_weight_normal box-wrap__content ">The Lifafa amount is <p class="font_weight_bolder font_size16">Rs.8238/-*</p></div>
        </div>

        <p class="font14 font_weight_bold mb30">When you accept this Lifafa, you will be able to redeem the Lifafa amount for purchases online or even transfer it to your bank account.</p>
        <p class="font_size16 font_weight_bold mb30">Would you like to</p>

		<div>
			<a href="/lifafa_html/create/view-lifafa-after-accept/" data-role="none" value="" name="submit" class="mdl-button mdl-js-button mdl-button--raised width_100 primary_color mb15">Accept Lifafa</a>
			<button data-role="none" value="" name="" class="mdl-button mdl-js-button  width_100 primary_border_color bg-transparent primary_text_color">Cancel</button>
		</div>
	</div>
</div>



 	

 	
{{ end }}