{{ define "main" }}
	

	<div class="">

		<header class="mdl-shadow--2dp white_bg mobile_header ui-header ui-bar-inherit ui-header-fixed slidedown" data-role="header" data-position="fixed" data-tap-toggle="false" role="banner">
			<div class="display_flex justify_content align_items_center padding_left10 padding_right10">
				<div class="">
					<a href="https://www.lifafa.com" data-role="none" class="back_btn p-0" data-transition="slidefade">
						<i class="material-icons">arrow_back</i>
					</a>
				</div>

				<span class="header_text flex-1 text_align_center pr20">All contributors</span>
			</div>
		</header>
		
		<div class="w-sm-480px m-auto">
			<div class="pt50">
				<div class="contributors">
					<div class="contributors__list">
						<div class="display_flex justify_content_spacearound mb10">
							<label class = "mdl-checkbox mdl-js-checkbox" for = "check-1">
					              <input type = "checkbox" id = "check-1" class = "mdl-checkbox__input" >
					             <div class="font_size14 pl5">
										<p class="">Trupti Rao</p>
										<p class="text-grey text_decoration font_size12">truptirao78@gmail.com</p>
									</div>
					        </label>
							<div class="font_size14 text_align_right">
								<p class="fz-size-xl">₹ 2,000</p>
								<p class="text-grey font_size12">on 22/03/2018</p>
							</div>
						</div>
						<p class="font_size14 line-height text-darker italic mt10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore consequuntur qui animi est ab quas.</p>
						<div class="display_flex say-thanks mt15 font_size14">
							<div class="thank-icon display_flex disable">
								<i class="material-icons">favorite</i>
							</div>
							<p class="text-grey pl5">Say Thanks</p>
						</div>
					</div>
					<div class="contributors__list">
						<div class="display_flex justify_content_spacearound mb10">
							<label class = "mdl-checkbox mdl-js-checkbox" for = "check-2">
					              <input type = "checkbox" id = "check-2" class = "mdl-checkbox__input" >
					             <div class="font_size14 pl5">
										<p class="">Trupti Rao</p>
										<p class="text-grey text_decoration font_size12">truptirao78@gmail.com</p>
									</div>
					        </label>
							<div class="font_size14 text_align_right">
								<p class="fz-size-xl">₹ 2,000</p>
								<p class="text-grey font_size12">on 22/03/2018</p>
							</div>
						</div>
						<p class="font_size14 line-height text-darker italic mt10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore consequuntur qui animi est ab quas.</p>
						<div class="display_flex say-thanks mt15 font_size14">
							<div class="thank-icon display_flex disable">
								<i class="material-icons">favorite</i>
							</div>
							<p class="text-grey pl5">Say Thanks</p>
						</div>
					</div>
					<div class="contributors__list">
						<div class="display_flex justify_content_spacearound mb10">
							<label class = "mdl-checkbox mdl-js-checkbox" for = "check-3">
					              <input type = "checkbox" id = "check-3" class = "mdl-checkbox__input" >
					             <div class="font_size14 pl5">
										<p class="">Trupti Rao</p>
										<p class="text-grey text_decoration font_size12">truptirao78@gmail.com</p>
									</div>
					        </label>
							<div class="font_size14 text_align_right">
								<p class="fz-size-xl">₹ 2,000</p>
								<p class="text-grey font_size12">on 22/03/2018</p>
							</div>
						</div>
						<p class="font_size14 line-height text-darker italic mt10">(No message))</p>
						<div class="display_flex say-thanks mt15 font_size14">
							<div class="thank-icon display_flex disable">
								<i class="material-icons">favorite</i>
							</div>
							<p class="text-grey pl5">Say Thanks</p>
						</div>
					</div>
					<div class="contributors__list">
						<div class="display_flex justify_content_spacearound mb10">
							<label class = "mdl-checkbox mdl-js-checkbox" for = "check-4">
					              <input type = "checkbox" id = "check-4" class = "mdl-checkbox__input" >
					             <div class="font_size14 pl5">
										<p class="">Trupti Rao</p>
										<p class="text-grey text_decoration font_size12">truptirao78@gmail.com</p>
									</div>
					        </label>
							<div class="font_size14 text_align_right">
								<p class="fz-size-xl">₹ 2,000</p>
								<p class="text-grey font_size12">on 22/03/2018</p>
							</div>
						</div>
						<p class="font_size14 line-height text-darker italic mt10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore consequuntur qui animi est ab quas.</p>
						<div class="display_flex say-thanks mt15 font_size14">
							<div class="thank-icon display_flex disable">
								<i class="material-icons">favorite</i>
							</div>
							<p class="text-grey pl5">Say Thanks</p>
						</div>
					</div>
					<div class="contributors__list">
						<div class="display_flex justify_content_spacearound mb10">
							<label class = "mdl-checkbox mdl-js-checkbox" for = "check-5">
					              <input type = "checkbox" id = "check-5" class = "mdl-checkbox__input" >
					             <div class="font_size14 pl5">
										<p class="">Trupti Rao</p>
										<p class="text-grey text_decoration font_size12">truptirao78@gmail.com</p>
									</div>
					        </label>
							<div class="font_size14 text_align_right">
								<p class="fz-size-xl">₹ 2,000</p>
								<p class="text-grey font_size12">on 22/03/2018</p>
							</div>
						</div>
						<p class="font_size14 line-height text-darker italic mt10">(No message))</p>
						<div class="display_flex say-thanks mt15 font_size14">
							<div class="thank-icon display_flex disable">
								<i class="material-icons">favorite</i>
							</div>
							<p class="text-grey pl5">Say Thanks</p>
						</div>
					</div>
				</div>
				<div class="sticky-thanks">
					<a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect floatR send_contributor_msg font_weight_semi primary_color width_100">
                       Say Thanks
                      </a>
				</div>
				<div class="contrib-message custom-modal">
					<p class="font_size14 pb15 pt15">You are saying thanks to <b>Seema, Sarvesh, Amit</b> &amp; <a href="#">4 others</a></p>

					<div class="write_message_text_field w-100 pt15 pb15">
                        <p class="mb10 font14 font_weight_bolder display_flex justify_content_spacebetween">
                            Personalise the note:
                            <a href="#" class="text_decoration primary_text_color">Edit</a>
                        </p>
                        <textarea class="mdl-textfield__input border-radius-4px p-1 border h-100px text-grey" cols="50" id="message" name="message" rows="1">A big thank you for your contributions to the 'Tying the knot' Lifafa!</textarea>
                        <span class="mdl-textfield__error">
                        </span>
                    </div>
                    <div class="contrib-message__action pt15">
                    	<a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect floatR font_weight_semi primary_color width_100 mb15">
                       		Send
                      	</a>
                      	<a href="#" class="mdl-button mdl-js-button primary_text_color mdl-js-ripple-effect floatR font_weight_semi width_100 cancel-btn">
                       		Cancel
                      	</a>
                    </div>
				</div>
			</div>
		</div>

		
	</div>

	



 	

 	
{{ end }}