	{{ define "main" }}
	{{ partial "header.html" .}}
	<div class="page-banner stars-bg">
		<div class="container">
			<div class="padding_20">
				<div class="display_flex justify_content align_items_center mt15">
					<h1 class="text-white font_size24">Create a Lifafa</h1>
					<img src='{{"images/mail-rs.png" | absURL}}' alt="..." class="">
				</div>
			</div>
		</div> <!-- /container -->
		

	</div>

	<div class="container">
		<div class="padding_side_20" style="margin-top: -35px;">
			<div class="ui-content white_bg border-tl-radius border-tr-radius padding_left10 padding_right10 mb15" role="main">
				<div class="event_select_wrapper">
					<div class="create_lifafa_bg_wrap">
					<!-- <div class="padding_20 min_height"> -->
						<!-- <p class="black_color font16 font_weight_bold text_align_center">Select an occasion</p> -->

						<p class="mt10 mb10 font14 font_weight_bolder">Select an Occasion</p>
						<span class="name_error mdl-textfield__error"></span>
						<div id="category_events" class="category_event square-variant pb20">
							<div class="select_event_bg color_wedding selected display_flex align_items_center justify_content_center">
								<div>
									<div class="text_align_center img-holder m-auto"></div>
									<p class="font_size14 color_black mt5" id="wedding">Wedding</p>
								</div>
							</div>

							<div class="select_event_bg color_farewell display_flex align_items_center justify_content_center">								
								<div>
									<div class="text_align_center img-holder m-auto"></div>
									<p class="font_size14 color_black mt5" id="farewell-party">Farewell</p>
								</div>
							</div>

							<div class="select_event_bg color_babyshower display_flex align_items_center justify_content_center">
								<div>
									<div class="text_align_center img-holder m-auto"></div>
									<p class="font_size14 color_black mt5" id="baby-shower">Baby shower</p>
								</div>
							</div>

							<div class="select_event_bg color_honeymoon display_flex align_items_center justify_content_center">
								<div>
									<div class="text_align_center img-holder m-auto"></div>
									<p class="font_size14 color_black mt5" id="honeymoon">Honeymoon</p>
								</div>
							</div>

							<div class="select_event_bg color_custom display_flex align_items_center justify_content_center">
								<div>
									<div class="text_align_center img-holder m-auto"></div>
									<p class="font_size14 color_black mt5" id="custom-event">Special Event</p>
								</div>
							</div>

							<div class="select_event_bg color_birthday display_flex align_items_center justify_content_center">
								<div>
									<div class="text_align_center img-holder m-auto"></div>
									<p class="font_size14 color_black mt5" id="birthday">Birthday</p>
								</div>
							</div>

							<div class="select_event_bg color_anniversary display_flex align_items_center justify_content_center">
								<div>
									<div class="text_align_center img-holder m-auto"></div>
									<p class="font_size14 color_black mt5" id="anniversary">Anniversary</p>
								</div>
							</div>

							<div class="select_event_bg color_housewarming display_flex align_items_center justify_content_center">
								
								<div>
									<div class="text_align_center img-holder m-auto"></div>
									<p class="font_size14 color_black mt5" id="house-warming">Housewarming</p>
								</div>

							</div>

						</div>
					<!-- </div> -->
				</div>
			</div>
			</div>
		</div>

		<div class="padding_side_30 mb20">
					<!-- checkboxes -->
					<div class="your_lifafa_wrap mb30">
						<div class="width_100 white_bg">
							<div class="spending_lifafa_wrap">
								<!-- <h3 class="font_size16 primary_text_color font_weight_semi padding_bottom_20 padding_top_20">Tell your friends about your dream gift</h3> -->

						<p class="mb10 font14 font_weight_bolder">The Lifafa will be redeemed for</p>
						<div class="checkbox-btn-group">
							<div class="dream_gift_wrap checkbox-btn">
				                <div class="width_100 category_list">
				                	<div class="categorycheckbox--">
				                      <input type="checkbox" data-role="none" name="selected_category[1]" class="filled_in category_selection styled_checkbox categorycheckbox" id="category_check_1" value="travel" checked="" />
				                      <label for="category_check_1">Travel</label>
				              		</div>

				                </div>
				            </div>

				            <div class="dream_gift_wrap checkbox-btn">
				                <div class="width_100 category_list">
				                	<div class="categorycheckbox--">
				                      <input type="checkbox" data-role="none" name="selected_category[2]" class="filled_in category_selection styled_checkbox categorycheckbox" id="category_check_2" value="experiences" />
				                      <label for="category_check_2">Experiences</label>
				              		</div>

				                </div>
				            </div>

				            <div class="dream_gift_wrap checkbox-btn">
				                <div class="width_100 category_list">
				                	<div class="categorycheckbox--">
				                      <input type="checkbox" data-role="none" name="selected_category[3]" class="filled_in category_selection styled_checkbox categorycheckbox" id="category_check_3" value="products" />
				                      <label for="category_check_3">Buy Products</label>
				              		</div>

				                </div>
				            </div>

				            <div class="dream_gift_wrap checkbox-btn">
				                <div class="width_100 category_list">
				                	<div class="categorycheckbox--">
				                      <input type="checkbox" data-role="none" name="selected_category[12]" class="filled_in category_selection styled_checkbox categorycheckbox" id="category_check_12" value="charity" />
				                      <label for="category_check_12">Give to charity</label>
				              		</div>

				                </div>
				            </div>

				            <div class="dream_gift_wrap checkbox-btn">
				                <div class="width_100 category_list">
				                	<div class="categorycheckbox--">
				                      <input type="checkbox" data-role="none" name="selected_category[13]" class="filled_in category_selection styled_checkbox categorycheckbox" id="category_check_13" value="others" />
				                      <label for="category_check_13">I haven't decided</label>
				              		</div>

				                </div>
				            </div>
				        </div>

			               	<span class="selected_category_error mdl-textfield__error"></span>
							</div>
						</div>

						<p class="font_size12 font_weight_normal">(* You can change your mind later)</p>
					</div>
					<!-- /checkboxes -->

					<!-- radio btns -->
					<div class="mb30">
						<!-- <h4 class="my-3">The Lifafa is for</h4> -->

						<p class="mb10 font14 font_weight_bolder">The Lifafa is for</p>
						<div class="radio-btn-group mb-3">
							<div class="radio-btn">
							<input id="Radio1" name="Radios" type="radio" value="Option 1" checked="checked">
							<label for="Radio1" class="font_size13">Yourself</label>
							</div>

							<div class="radio-btn">
							<input id="Radio2" name="Radios" type="radio" value="Option 2" >
							<label for="Radio2" class="font_size13">Someone else</label>
							</div>
						</div>
					</div>
					<!-- /radio-btns -->

					<div class=" mb30">
						<div class="form_group mb15">

							<p class="mb10 font14 font_weight_bolder">How much would you like to collect?</p>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label rupee_symbol is-upgraded width_100 pt0 pb0 left-addon">
								<input class="mdl-textfield__input font_weight_normal font_size24" data-role="none" type="tel" name="lifafa_amount" id="lifafa_amount" value="" onkeypress="return isNumber(event)">
								<!-- <label class="mdl-textfield__label" for="lifafa_amount">Your Lifafa goal amount</label> -->
								<span class="lifafa_amount_error mdl-textfield__error"></span>
							</div>
						</div>

						<div class="">
							<label class = "mdl-checkbox mdl-js-checkbox" for = "checkbox11">
				              <input type = "checkbox" id = "checkbox11"
				                 class = "mdl-checkbox__input" >
				              <span class = "mdl-checkbox__label  font14 mb10 pl15">No specific amount, happy to see it soar!</span>
				           </label>
				           <p class="font_size12 font_weight_normal mt5">(* The Lifafa goal amount will be displayed to all contributors)</p>

						</div>
					</div>

					<!-- <div class="width_100 primary_color" data-role="footer" data-position="fixed" data-tap-toggle="false"> -->
						<form method="POST" action="https://www.lifafa.com/lifafa-publish/jkhj" accept-charset="UTF-8" rel="external" data-ajax="false" class="">
							<input name="_token" type="hidden" value="OsqQ1R79W5Ooap3NZTsGXnwu1MNt2CyH6Px15h5w">
							<button data-role="none" value="withoutadhar" name="submit" class="mdl-button mdl-js-button mdl-button--raised width_100 primary_color">Create</button>
						</form>
					<!-- </div> -->
			</div>
		</div> <!-- /container -->

		<script>
		// Add active class to the current button (highlight it)
		var header = document.getElementById("category_events");
		var btns = header.getElementsByClassName("select_event_bg");
		for (var i = 0; i < btns.length; i++) {
		  btns[i].addEventListener("click", function() {
		    var current = document.getElementsByClassName("selected");
		    current[0].className = current[0].className.replace(" selected", "");
		    this.className += " selected";
		  });
		}
		</script>

	{{ end }}