	{{ define "main" }}
		<div class="padding_20">
			<div class="ui-content white_bg" role="main">
				<div class="event_select_wrapper">
					<div class="create_lifafa_bg_wrap">
					<!-- <div class="padding_20 min_height"> -->
						<!-- <p class="black_color font16 font_weight_bold text_align_center">Select an occasion</p> -->
						<label for="" class="mb10 font16 d-block text_align_center">Select an Occasion</label>
						<span class="name_error mdl-textfield__error"></span>
						<div class="category_event square-variant pb20">
							<div class="select_event_bg color_wedding selected display_flex align_items_center justify_content_center">

								<div class="text_align_center">
									<img src='{{"images/ring.png" | absURL}}' alt="..." class="">
									<p class="font_weight_normal font_size16 color_black mt5" id="wedding">Wedding</p>
								</div>
										
								
							</div>
								
							<div class="select_event_bg color_farewell display_flex align_items_center justify_content_center">

								<div class="text_align_center">
									<img src='{{"images/ring.png" | absURL}}' alt="..." class="">
									<p class="font_weight_normal font_size16 color_black mt5" id="farewell-party">Farewell</p>
								</div>
								
							</div>

							<div class="select_event_bg color_babyshower display_flex align_items_center justify_content_center">
								<div class="text_align_center">
									<img src='{{"images/ring.png" | absURL}}' alt="..." class="">
									<p class="font_weight_normal font_size16 color_black mt5" id="baby-shower">Baby shower</p>
								</div>

							</div>

							<div class="select_event_bg color_honeymoon display_flex align_items_center justify_content_center">
								<div class="text_align_center">
									<img src='{{"images/ring.png" | absURL}}' alt="..." class="">
									<p class="font_weight_normal font_size16 color_black mt5" id="honeymoon">Honeymoon</p>
								</div>

							</div>

							<div class="select_event_bg color_custom display_flex align_items_center justify_content_center">

								<div class="text_align_center">
									<img src='{{"images/ring.png" | absURL}}' alt="..." class="">
									<p class="font_weight_normal font_size16 color_black mt5" id="custom-event">Special Event</p>
								</div>

							</div>

							<div class="select_event_bg color_birthday display_flex align_items_center justify_content_center">
								<div class="text_align_center">
									<img src='{{"images/ring.png" | absURL}}' alt="..." class="">
									<p class="font_weight_normal font_size16 color_black mt5" id="birthday">Birthday</p>
								</div>
							</div>
												
							<div class="select_event_bg color_anniversary display_flex align_items_center justify_content_center">
								<div class="text_align_center">
									<img src='{{"images/ring.png" | absURL}}' alt="..." class="">
									<p class="font_weight_normal font_size16 color_black mt5" id="anniversary">Anniversary</p>
								</div>
								
							</div>
								
							<div class="select_event_bg color_housewarming display_flex align_items_center justify_content_center">
								<div class="text_align_center">
									<img src='{{"images/ring.png" | absURL}}' alt="..." class="">
									<p class="font_weight_normal font_size16 color_black mt5" id="house-warming">Housewarming</p>
								</div>
								
							</div>
																		
						</div>
					<!-- </div> -->
				</div>
			</div>
			</div>
		</div>
	{{ end }}