	{{ define "main" }}
	
	<header class="mdl-shadow--2dp white_bg mobile_header ui-header ui-bar-inherit ui-header-fixed slidedown" data-role="header" data-position="fixed" data-tap-toggle="false" role="banner">
		<div class="display_flex justify_content align_items_center padding_left10 padding_right10">
			<div class="">
				<a href="https://www.lifafa.com" data-role="none" class="back_btn p-0" data-transition="slidefade">
					<i class="material-icons">arrow_back</i>
				</a>
			</div>

			<span class="header_text font_weight_bold flex-1 text_align_center pr20">Gift Lifafa</span>

			
		</div>
	</header>

	<div class="page-banner stars-bg mh-200px mt40 pt10 display_flex align_items_center justify_content">
		<div class="container">
			<div class="">
				<div class="text_align_center mb30">
					<h1 class="text-white font_size24">You are gifting a Lifafa</h1>
				</div>
			</div>
		</div> <!-- /container -->
		

	</div>

	<div class="container">
		<div class="padding_side_20" style="margin-top: -35px;">
			<div class="ui-content white_bg border-tl-radius border-tr-radius padding_left10 padding_right10 mb15" role="main">
				<!-- tabs -->
				<main class = "mdl-layout__content share_registry_wrap">    
		            <div class = "mdl-tabs mdl-js-tabs share_registry_cont">
		               <div class = "mdl-tabs__tab-bar mt15 invite-via">
		                  

                          <a href="#shareviaemail" class="mdl-tabs__tab is-active">
                            <i class="li li_envelope-o- "></i>
                          </a>

                          <a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdev.lifafa.com%2Fsumeet-kotak-1522072482369-birthday" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false" data-href="https://dev.lifafa.com/sumeet-kotak-1522072482369-birthday" class="mdl-tabs__tab fb-share-button">
                            <i class="li li_facebook"></i>
                          </a>

                          <a href="https://plus.google.com/share?url=https://dev.lifafa.com/sumeet-kotak-1522072482369-birthday" data-href="https://dev.lifafa.com/sumeet-kotak-1522072482369-birthday" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false" class="mdl-tabs__tab">
                            <i class="li li_google-plus"></i>
                          </a>

                          <a href="https://twitter.com/share?url=https://dev.lifafa.com/sumeet-kotak-1522072482369-birthday" class="mdl-tabs__tab">
                            <i class="li li_twitter"></i>
                          </a>

		               </div>
		            
		               <!-- tab content -->
                       <div class="mdl-tabs__panel is-active" id="shareviaemail">
                           <div class="tab_content gift-lifafa">
                               <div class="text-divider fosz14 font_weight_normal w-100 mt20" style="color: #1e1e1e;">Gift a Lifafa via email</div>
                                  <form id="share_lifafa_mail">
                									   <div class = "mdl-textfield mdl-js-textfield w-100">
                										    <p class="mb10 font14 font_weight_bolder">Your name</p>
                				                <input class = "mdl-textfield__input" type = "text" id = "" value="Rahul Sharma">
                				             	</div>

                                      <div class = "mdl-textfield mdl-js-textfield w-100">
                                        <p class="mb10 font14 font_weight_bolder">Recipient name</p>
                                        <input class = "mdl-textfield__input" type = "text" id = "" value="Neha Sharma">
                                      </div>

                                   <div class="mdl-textfield  mdl-js-textfield mdl-textfield--floating-label w-100">
                                   		<p class="mb10 font14 font_weight_bolder">Recipient email</p>
                                   		
                                       <input name="link" type="hidden" value="https://dev.lifafa.com/sumeet-kotak-1522072482369-birthday">
                                       <input name="title" type="hidden" value="Assdsssss">
                                       <input class="mdl-textfield__input" name="to" type="text" id="ms1" value="XYZ@gmail.com">
                                       <!-- <label class="mdl-textfield__label" for="sample5">To</label> -->
                                       <span id="to_error" class=" mdl-textfield__error"></span>
                                   </div>
                                   
                                   <div class="mdl-textfield   mdl-js-textfield mdl-textfield--floating-label w-100">
                                   		<!-- <p class="mb10 font14 font_weight_bolder">Message</p> -->
                                   		<div class="display_flex justify_content mb10">
                    											<p class="font14 font_weight_bolder">Message</p>
                    											<div class="primary_text_color text_align_right font14 mb-0 border-bottom" id="edit_note_btn font_weight_bold">Edit</div>
                    										</div>
                                       <textarea class="border border-radius-4px font_size14 font_weight_normal italic mdl-textfield__input message-box padding_10 text-darkgrey" name="message" type="text" id="sample7" row="6" cols="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem quisquam exercitationem iste architecto, necessitatibus, ipsam accusantium recusandae pariatur totam odit, aut laboriosam ratione nobis molestias facere. Ullam numquam sed, libero deserunt consectetur et illo eaque corporis, beatae ad incidunt quam saepe aut. Ipsa dolorum incidunt ab aliquam consequuntur totam, officiis?Ullam numquam sed, libero deserunt consectetur et illo eaque corporis, beatae ad incidunt quam saepe aut. Ipsa dolorum incidunt ab aliquam consequuntur totam, officiis?
                                       </textarea>
                                       <!-- <label class="mdl-textfield__label" for="sample7">Message</label> -->
                                       <span id="message_error" class="  mdl-textfield__error"></span>
                                   </div>

                                   <button class="fmdl-button mdl-js-button mdl-js-ripple-effect mt15 mb15 w-100 mdl-button  width_100 primary_color send-mail" type="button">
                                   Send</button>
                                   
                               </form>
                           </div>
                           <span id="thaks_message" class="primary_text_color lif_url"></span>

                           
                       </div>
                       <div class= "mdl-tabs__panel" id="shareviafb">
                           <div class="tab_content">
                               <p>Share your Lifafa with your <br/> Facebook friends.</p>
                               <button class="mdl-button mdl-js-button mdl-js-ripple-effect share_fb">
                               <i class="li li_facebook"></i>
                               Import Facebook List
                               </button>
                           </div>
                       </div>
                       <div class= "mdl-tabs__panel" id="googleplus">
                           <div class="tab_content">
                               <p>Share your Lifafa with your <br/> Google Plus contacts.</p>
                               <button class="mdl-button mdl-js-button mdl-js-ripple-effect google_plus_bg">
                               <i class="li li_google-plus"></i>
                               Import Google Plus List
                               </button>
                           </div>
                       </div>
                       <div class= "mdl-tabs__panel" id="twitter">
                           <div class="tab_content">
                               <p>Share your Lifafa with your <br/> Twitter contacts.</p>
                               <button class="mdl-button mdl-js-button mdl-js-ripple-effect twitter_color">
                               <i class="li li_twitter"></i>
                                 Import Twitter List
                               </button>
                           </div>
                       </div>
		               <!-- /tab content -->
		            </div>
		         </main>
				<!-- /tabs -->
			</div>
		</div>

    <!-- Preview email -->

    <div class="preview-mail text_align_center padding_20">
      <h4 class="font_weight_bolder fz-size-xl mb30 white">Preview of recipient email</h4>
      
      <div class="border-radius-4px padding_20 dotted-border w-sm-480px m-sm-auto">
        <div class="banner lifafa-view-bg"></div>
        <h3 class="preview-mail__title font_size18 font_weight_bolder line-height preview-mail__title text_align_left pl0 pr0 mt15 mb15">Celebrating your occasion with a Lifafa!</h3>
        
        <p class="font_size14 font_weight_normal italic preview-mail__caption text-grey text_align_left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores mollitia error libero quidem quibusdam dolorum iure perspiciatis esse quisquam fugiat, atque quo rem perferendis.
          Aspernatur molestias quae, modi eum? Sint provident, dolor saepe excepturi voluptas, nisi unde nesciunt corporis dignissimos dicta cupiditate aliquid! Vitae veritatis enim, et cumque temporibus ipsum.
          
          Aspernatur molestias quae, modi eum? Sint provident, dolor saepe excepturi voluptas, nisi unde nesciunt corporis dignissimos dicta cupiditate aliquid! Vitae veritatis enim, et cumque temporibus ipsum.
        </p>

       <a href="/lifafa_html/create/accept-lifafa/" class="fmdl-button mdl-js-button mdl-js-ripple-effect mt15 w-100 mdl-button  width_100 primary_color" id="share_lifafa">
       Accept Lifafa</a>


      </div>


    </div>



		
	</div> <!-- /container -->
	

		

	{{ end }}