    {{ define "main" }}
    {{ partial "header.html" .}}
    <div class="page-banner lifafa-view-bg position-relative h-250px">
        <!-- Colored FAB button -->
        <button class="mdl-button mdl-js-button mdl-button--fab bg-grey rounded-circle position-absolute" style="top: 15px; right: 15px;">
          <i class="material-icons">share</i>
        </button>

    </div>
        <div class="padding_side_20 container" style="margin-top: -35px;">
            <div class="ui-content white_bg border-tl-radius border-tr-radius padding_left10 padding_right10 mb15 occasion-container pb-sm-60 boxshadow-sm-tlr " role="main" style="">
                <p class="mt30 font_size18 font_weight_bold text_align_center font_size24">Nikhil & Pooja's Wedding</p>
                <p class="font_size14 text_align_center font_weight_normal mt15 mb15">on 04 April 2018</p>
                

                 <div class="edit_content_preview">
                    <p  id="note_edit_des" class="font_size16 text_align_center font_weight_normal more">
                        <!-- <em>It’s my big day! My fiance and I are very excited to invite you to our wedding. <a class="primary_text_color"> Read More</a></a></em> -->
                        It’s my big day! My fiance and I are very excited to invite you to our wedding. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione reiciendis, iusto distinctio debitis animi fugiat officia mollitia, aut possimus repellendus pariatur quod quasi ipsa ad tempora, itaque expedita eum dolores.
                    </p>
                </div>
            </div> 
            
            <div class="ml-sm-15px mr-sm-15px mt-sm--35">
                <!-- card -->
                <div class="card mt20 contribution-details border-0 text-sm-white ">
                    <div class="p-sm-0 p-3">
                        <div class="d-sm-block display_flex mt-sm-5">
                            <div class="d-sm-none icon-holder">
                                <i class="material-icons">airplanemode_active</i>
                            </div>

                            <div class="text-sm-center pl-xs-3">
                                <p class="font_weight_normal">Lifafa will be redeemed for: <span class="font_weight_bold d-sm-inline d-block">Travel</span></p>
                            </div>
                        </div>

                        <div class="display_flex justify_content pt15 pb15 align_items_center">
                            <div class="col-sm-4 col-6 text-sm-center text_align_left">
                                <p class="font_weight_bold font_size20 mb5">&#x20b9; 20,000</p>
                                <p class="font_weight_normal font_size13">Lifafa Goal Amount</p>
                            </div>
                            <div class="col-sm-4 col-6 text_align_center d-sm-block d-none">
                                <div class="margin_top_bottom c100 p0 primary_text_color 0 m-auto">
                                    <span>0 %</span>
                                    <!-- <span class="complete_text">completed</span> -->
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                                                              
                            </div>
                            <div class="col-sm-4 col-6 text-sm-center text_align_left">
                                <p class="font_weight_bold font_size20 mb5 primary_text_color text-sm-white">&#x20b9; 0</p>
                                <p class="font_weight_normal primary_text_color text-sm-white font_size13">Contribution Received</p>
                            </div>
                        </div>

                        <div class="progress-loader primary_text_color display_flex align_items_center px-sm-30px text-sm-white">
                            <div class="barr flex-1">
                                <div class="barr_progress" style="width: 20%;"></div>
                            </div>
                            <div class="percentage font_weight_bold pl10">20%</div>
                        </div>

                        <div class="text-sm-center mt10 mb-sm-3 display_flex align_items_center">
                            <div class="flex-1">
                                 <p class="font_weight_normal font14 text-darker text-sm-white"><i class="italic">Created by:</i> <span class="font_size14 font_weight_bold display_block">Rahul Sharma</span></p>
                            </div>

                            <div class="flex-1 d-sm-block d-none"></div>
                             <div class="flex-1">
                                 <p class="font_weight_normal font14 text-darker text-sm-white"><i class="italic">Lifafa expires on:</i> <span class="font_size14 font_weight_bold display_block">29 June 2018</span></p>
                            </div>
                        </div>

                        
                    </div>
                </div>
                <!-- /card -->

                <div class="display_flex mt30 border-sm-bottom-dashed border-gray border-xs-0 align_items_center pb15 justify_content_spacearound">
                    <div>
                        <div class="img-icon-holder">
                            <img src='{{"images/contribute.png" | absURL}}' alt="..." class="">
                        </div>
                        
                    </div>
                    <div class="font_size14">
                        <p class="font_weight_bolder text-darker">Trupti Rao, Amit Adav, Rajesh</p>
                        <p class="font_weight_normal text-grey">+4 Others have contributed</p>
                    </div>
                    <i class="material-icons primary_text_color angle-right">chevron_right</i>
                </div>

                <hr style="color: #ccc;" class="mt-0 mb-0 d-sm-none">
                <div class="text_align_center mt15">
                    <a href="/lifafa_html/create/invite-for-contribution/" class="font_size14 font_weight_bold primary_text_color">+ Invite others to contribute</a>
                </div>

                <div class="align_items_center display_flex flex_column justify_content_center mt10 pb15 pt15 text_align_center total-contrib">
                    <p class="font_size16 font_weight_bold text-darker mt15">You have contributed</p>
                    <h4 class="font_weight_bolder font_size25 mt10 total-contrib__amt">₹1,000</h4>
                </div>

                <div class="mt15 text_align_center mb20">
                    <a href="#" class="font_size14 font_weight_bold primary_text_color">+ Contribute more</a>
                </div>


                <div class="visibility-action padding_20 text_align_center position_relative mt50">
                    <div class="visibility-action__icon display_flex align_items_center justify_content_center">
                        <img src='{{"images/user.png" | absURL}}' alt="..." class="">
                    </div>
                    <p class="text-darker font_size16 pt15 pb10 mt15">This is visible only to you.</p>
                    <p class="fz-size-xl pt10 pb15 line-height"><span class="primary_text_color font_weight_bold">Great Progress!</span> Contributions are at 20% of the goal amount.</p>
                    <p class="font_weight_bolder text-darker pt10 pb15">Would you like to</p>

                    <a href="/lifafa_html/create/gift-lifafa-email/" type="submit" data-role="none" data-ajax="false" rel="external" class="mdl-button mdl-js-button mdl-button--raised width_100 primary_color open-contributions mb20">Gift Lifafa</a>

                    <a href="#" data-role="none" value="" name="" class="mdl-button mdl-js-button  width_100 primary_border_color bg-transparent primary_text_color mb15">Redeem Lifafa</a>

                </div>
                

                <div class="video-holder ml--20px mr--20px pl20 pr20 bubble-bg pb20">
                    <div class="video_container pr-0">
                        <div class="media_wrap">
                            <div id="player2">
                                <!-- delete -->
                                <video id="video" controls="controls" class="w-100">
                                    <source src="http://www.quirksmode.org/html5/videos/big_buck_bunny.mp4" type="video/mp4">
                                    <source src="http://www.quirksmode.org/html5/videos/big_buck_bunny.webm" type="video/webm">
                                    <source src="http://www.quirksmode.org/html5/videos/big_buck_bunny.ogv" type="video/ogg">
                                </video>
                                <!-- /delete -->
                            </div>
                        </div>
                    </div>
                </div>


                <div class="image-holder mt30 mb30">
                    <ul class="list-inline display_flex images-carousel pt15 pb15">
                        <li class="list-inline-item col-6"><img src="http://via.placeholder.com/500x350" alt=""></li>
                        <li class="list-inline-item col-6"><img src="http://via.placeholder.com/500x350" alt=""></li>
                        <li class="list-inline-item col-6"><img src="http://via.placeholder.com/500x350" alt=""></li>
                        <li class="list-inline-item col-6"><img src="http://via.placeholder.com/500x350" alt=""></li>
                        <li class="list-inline-item col-6"><img src="http://via.placeholder.com/500x350" alt=""></li>
                    </ul>
                </div>

                <div class="mt30 mb30">
                    <ul class="text_align_center list-inline">
                        <li class="list-inline-item mr15"><a href=""><img src='{{"images/fb.png" | absURL}}' alt="..." class=""></a></li>
                        <li class="list-inline-item mr15"><a href=""><img src='{{"images/twiter.png" | absURL}}' alt="..." class=""></a></li>
                        <li class="list-inline-item mr15"><a href=""><img src='{{"images/email.png" | absURL}}' alt="..." class=""></a></li>
                        <li class="list-inline-item mr15"><a href=""><img src='{{"images/whatsapp.png" | absURL}}' alt="..." class=""></a></li>
                        <li class="list-inline-item"><a href=""><img src='{{"images/code.png" | absURL}}' alt="..." class=""></a></li>
                    </ul>
                </div>

            </div>   

            
        </div>

        <div class="ui-footer ui-footer-fixed display_flex primary_text_color padding_20 primary_color align_items_center justify_content">
                <div><p class="font_weight_normal font_size14">Add a personal touch to your Lifafa with images, videos and a message.</p></div>
                <div class="redeem_edit_btn">
                    <a href="/lifafa_html/create/edit-lifafa/" rel="external" data-ajax="false" class="edit_lifafa mdl-button mdl-js-button mdl-button--raised mdl-sm-button bg-grey primary_text_color" data-role="none"><i class="material-icons font_size16">border_color</i> Edit Lifafa</a>
                </div>
        </div>


       
    {{ end }}