{{ define "main" }}
{{ partial "header.html" .}}
	<div class="gradient ">
		<div class="page-banner lifafa-view-bg position-relative">
			<button class="mdl-button mdl-js-button mdl-button--fab bg-grey rounded-circle position-absolute mdl-shadow--2dp" style="top: 15px; right: 15px;">
		          <i class="material-icons">share</i>
		    </button>
		</div>


		

			
			
			

		<div class="padding_20 container w-sm-480px text_align_center bg-white lifafa-contributions">

			
			<div class="ml20 mr20 mt30">
				<p class="font_size16 font_weight_bolder">Your Lifafa is open for contributions</p>

				<div class="mt15 mb15 pt15 pb15">
					<p class="font_size14 font_weight_normal">You can receive contributions upto a limit of <span class="primary_text_color">Rs.8238/-*</span></p>
				</div>

				<form method="POST" class="mt30 mb30">
					<button data-role="none" value="" name="" class="mdl-button mdl-js-button mdl-button--raised width_100 primary_color mb15">Invite others to contribute</button>

					<button data-role="none" value="" name="" class="mdl-button mdl-js-button  width_100 primary_border_color bg-transparent primary_text_color">View Lifafa</button>
				</form>
			</div>

			<p class="font_weight_normal font_size14">
				*want to increase the Lifafa limit? You can do so by completing the Aadhaar based KYC.
			</p>
			
			<div class="mt15 mb15">
				<a href="" class="primary_text_color border-bottom font_size14">Complete KYC</a>
			</div>		
		</div>
	</div>
	

	



 	

 	
{{ end }}