{{ define "main" }}
<div class="gradient">
	<header class="mdl-shadow--2dp white_bg mobile_header ui-header ui-bar-inherit ui-header-fixed slidedown" data-role="header" data-position="fixed" data-tap-toggle="false" role="banner">
		<div class="display_flex justify_content align_items_center padding_left10 padding_right10">
			<div class="w-100px">
				<a href="https://www.lifafa.com" data-role="none" class="back_btn p-0" data-transition="slidefade">
					<i class="material-icons">arrow_back</i>
				</a>
			</div>

			<span class="header_text font_weight_bold">Login</span>

			<a href="/lifafa_html/create/sign-up/" rel="external" data-ajax="false" data-role="none" class="mdl-button mdl-js-button mdl-button--raised primary_color mdl-sm-button" data-transition="slidefade">Sign Up</a>
		</div>
	</header>

	<div class="padding_20 ml20 mr20 display_flex align_items_center h-100vh container w-sm-480px account-container bg-xs-white">

		<div class="w-100 login-container__wrapper py-sm-5 bg-white">
			<p class="black_color text_align_center font_weight_bold font_size16 mb30">Already Signed up?<br>Click to access your Lifafa</p>
			<div class="social_circle_wrap mb30 w-sm-50 m-sm-auto">
				<div class="mb15">
					<a href="https://www.lifafa.com/facebook/login" rel="external" data-role="none" data-ajax="false">
						<button class="social_circle fb_color w-100 text-white font14 border-radius-4px" data-role="none">
							<div class="display_flex">
								<i class="li li_facebook white_color font14"></i> <span class="flex-1">Login with facebook</span>
							</div>

						</button>
					</a>
				</div>

				<div class="mb15">
					<a href="https://www.lifafa.com/google/login" rel="external" data-role="none" data-ajax="false" class="mb15">
						<button class="social_circle google_plus_bg w-100 text-white font14 border-radius-4px" data-role="none">
							<div class="display_flex">
								<i class="li li_google-plus white_color font14"></i> <span class="flex-1">Login with Google</span>
							</div>
						</button>
					</a>
				</div>
			</div>

			<div class="text-divider mb20 font_size22 mx-auto">or</div>

			<a href="javascript:void(0);" class="collapsible primary_text_color text_align_center as-block font14 mb15 ">Log in using your email ID</a>
			<div class="collapsible-content px-sm-20">
				  <div class="form_mobile_wrapper">
					<form method="POST" action="https://www.lifafa.com/login" accept-charset="UTF-8" id="form_data" >
						<input name="_token" type="hidden" value="x4X8pyTSgZvg7Hi53CXkQq2NIcu4odrM0RKoACgl">						<input type="hidden" name="_token" value="x4X8pyTSgZvg7Hi53CXkQq2NIcu4odrM0RKoACgl">

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label width_100">
							<!--  <input class="mdl-textfield__input"  type="email" id="email" name="email"> -->
							<input class="mdl-textfield__input" id="login" data-role="none" name="login" type="text">
							<label class="mdl-textfield__label" for="login_email_mobile">Email Id</label>
							<span id="login_error" class="mdl-textfield__error"></span>
						</div>

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label width_100 pb10">
							<input class="mdl-textfield__input " type="password" id="password" name="password" data-role="none">
							<label class="mdl-textfield__label label-fix" for="login_password">Enter your password</label>
							<span id="password_error" class="mdl-textfield__error"></span>
						</div>

						<div class="text_align_right">
							<a href="javascript:void(0);" data-role="none" class="forget_pass primary_text_color forgot-pwd-trigger" data-modal-open="forgetModal_entermobile_open">Forgot password?</a>
						</div>


						<div class="padding_top_20 w-sm-50 m-sm-auto">
							<a href="/lifafa_html/create/create-lifafa/" id="login_btn" type="submit" data-role="none" data-ajax="false" rel="external" class="mdl-button mdl-js-button mdl-button--raised primary_color width_100">Login</a>
							<!-- <span id="invalid_login" class="invalid_login_error red_invalid"></span> -->
						</div>

					</form>
				</div>
			</div>


		</div>




	</div>

	<!-- modal -->
	<div class="forgot-pwd bg-white padding_20">
		<h5 class="font_weight_bold font_size18 mb15">Forgot Password</h5>
		<p class="font_weight_normal font_size14">To retrive your password please enter your mobile number.</p>
		<form method="POST" action="https://www.lifafa.com" accept-charset="UTF-8" id="form_data_forget"><input name="_token" type="hidden" value="x2yBt323enNmvbn3ZNu9K2GVZmmREvrsDS7VKXXw">	<div class="resetPassword_field">
				<div class="mdl-textfield input__field floatL mdl-js-textfield mdl-textfield--floating-label width_100 pb10 mb15">
					<input class="mdl-textfield__input mobile1" id="mobile" maxlength="10" name="mobile" type="text">
					<label class="mdl-textfield__label label-fix" for="mobile">Mobile</label>
					<span id="mobile_error" class="  mdl-textfield__error"></span>
				</div>
				<div class="resetPassword_btn w-sm-50 m-sm-auto">
					<button id="forgot_btn" class="mdl-button mdl-js-button mdl-button--raised primary_color width_100">Submit</button>
				</div>
				<div class="clearfix"></div>

				

			</div>
		</form>
	</div>
	<!-- /modal -->
</div>

{{ end }}