{{ define "main" }}
	<header class="mdl-shadow--2dp white_bg mobile_header ui-header ui-bar-inherit ui-header-fixed slidedown" data-role="header" data-position="fixed" data-tap-toggle="false" role="banner">
		<div class="display_flex justify_content align_items_center padding_left10 padding_right10">
			<div class="">
				<a href="https://www.lifafa.com" data-role="none" class="back_btn p-0" data-transition="slidefade">
					<i class="material-icons">arrow_back</i>
				</a>
			</div>

			<span class="header_text flex-1 text_align_center">Open for contributions</span>
		</div>
	</header>

	<div class="padding_20 ml20 mr20 bg-white display_flex h-100vh flex_column justify_content container w-sm-480px">

		<div>
			<div class="mt60">
				<p class="font14 font_weight_bolder mb10">Would you like to suggest a contribution amount to your Lifafa invitees?</p>
				<div class="mt20">
					<div class="radio_btn mb30">
						<input type="radio" data-role="none" id="no" name="contribute1" value=""  checked >
	        			<label for="no" class="font_size14 font_weight_bold">No, each one can contribute as they wish</label>
					</div>

					<div class="radio_btn">
						<input type="radio" data-role="none" id="yes" name="contribute1" value=""  >
	          			<label for="yes" class="font_size14 font_weight_bold">Yes, please. Each one contributes</label>

	          			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label rupee_symbol is-upgraded width_100 pt0 pb0 left-addon contribution-field mt5">
	          				<input class="mdl-textfield__input font_weight_normal font_size20" data-role="none" type="tel" name="" id="" value="" onkeypress="return isNumber(event)">
	          			</div>
					</div>
				</div>
			</div>

			<div class="mt60">
				<p class="font14 font_weight_bolder mb10">Would you like to display the goal amount on the Lifafa?</p>
				<div class="mt20">
					<div class="radio_btn mb30">
						<input type="radio" data-role="none" id="no1" name="contribute12" value=""  checked >
	        			<label for="no1" class="font_size14 font_weight_bold">No, I don't want to show this amount</label>
					</div>

					<div class="radio_btn">
						<input type="radio" data-role="none" id="yes1" name="contribute12" value=""  >
	          			<label for="yes1" class="font_size14 font_weight_bold">Sure, Lifafa goal amount can be seen by all</label>
					</div>
				</div>
			</div>

			<div class="mt60 mb30">
				<p class="font14 font_weight_bolder mb10">List of contributors will be visible to:</p>
				<div class="mt20">
					<div class="radio_btn mb30">
						<input type="radio" data-role="none" id="you" name="contribute" value=""  checked >
	        			<label for="you" class="font_size14 font_weight_bold">Only you. <div class="font_weight_normal font_size12">you will need to be logged in to see the list.</div></label>
					</div>

					<div class="radio_btn">
						<input type="radio" data-role="none" id="everyone" name="contribute" value=""  >
	          			<label for="everyone" class="font_size14 font_weight_bold">Everyone. <div class="font_weight_normal font_size12">All those you share this Lifafa with.</div></label>
					</div>
				</div>
			</div>

			<div class="">
				<label class = "mdl-checkbox mdl-js-checkbox" for = "checkbox11">
	              <input type = "checkbox" id = "checkbox11"
	                 class = "mdl-checkbox__input" name="noSpecific" >
	              <span class = "mdl-checkbox__label  font14 mb10 pl15">This Lifafa will not appear in search results on Google, Lifafa site and elsewhere on the internet.</span>
	           </label>
	           
			</div>

		</div>

		<div>
			<a href="/lifafa_html/create/open-for-contribution2/" data-role="none" value="" name="submit" class="mdl-button mdl-js-button mdl-button--raised width_100 primary_color">Continue</a>
		</div>
	</div>



 	

 	
{{ end }}