{{ define "main" }}
	

	<div class="powered-by h-100vh">

		<header class="mdl-shadow--2dp white_bg mobile_header ui-header ui-bar-inherit ui-header-fixed slidedown" data-role="header" data-position="fixed" data-tap-toggle="false" role="banner">
			<div class="display_flex justify_content align_items_center padding_left10 padding_right10">
				<div class="">
					<a href="https://www.lifafa.com" data-role="none" class="back_btn p-0" data-transition="slidefade">
						<i class="material-icons">arrow_back</i>
					</a>
				</div>

				<span class="header_text flex-1 text_align_center">sending OTP</span>
			</div>
		</header>
		
		<div class="w-sm-480px m-auto">
			<div class="pt50">
				<ul class="breadcrumb display_flex">
					<li class="active"><a href="#">Mobile Verification</a></li>
					<li><a href="#">Aadhar KYCs</a></li>
				</ul>
			</div>
		</div>

		<div class="padding_20 ml20 mr20 container w-sm-480px powered-by-child display_flex align_items_center justify_content_center">
			<div class="text_align_center pb100">
				<div class="loader mb30">
			      	<div class="loader-outter"></div>
			    </div>

				<div class="font_size16 font_weight_bold text_align_center">Sending OTP to <p class="font_size18 mt10">+91 9878222328</p></div>
				
				

			</div>
		</div>
	</div>

	



 	

 	
{{ end }}