{{ define "main" }}
<div class="gradient">
	<header class="mdl-shadow--2dp white_bg mobile_header ui-header ui-bar-inherit ui-header-fixed slidedown" data-role="header" data-position="fixed" data-tap-toggle="false" role="banner">
		<div class="display_flex justify_content align_items_center padding_left10 padding_right10">
			<div class="w-100px">
				<a href="https://www.lifafa.com" data-role="none" class="back_btn p-0" data-transition="slidefade">
					<i class="material-icons">arrow_back</i>
				</a>
			</div>

			<span class="header_text font_weight_bold">Sign Up</span>

			<a href="/lifafa_html/create/login/" rel="external" data-ajax="false" data-role="none" class="mdl-button mdl-js-button mdl-button--raised primary_color mdl-sm-button" data-transition="slidefade">Login</a>
		</div>
	</header>

	<div class="padding_20 ml20 mr20  display_flex align_items_center h-100vh container w-sm-480px">

		<div class="w-100 py-sm-5 bg-white">
			<p class="black_color text_align_center font_weight_bold font_size16 mb30">Choose your sign up option</p>
			<div class="social_circle_wrap mb30 w-sm-50 m-sm-auto ">
				<div class="mb15">
					<!-- <a href="https://www.lifafa.com/facebook/login" rel="external" data-role="none" data-ajax="false"> -->
					<a href="javascript:void(0);" rel="external" data-role="none" data-ajax="false">
						<button class="social_circle fb_color w-100 text-white font14 border-radius-4px" data-role="none">
							<div class="display_flex">
								<i class="li li_facebook white_color font14"></i> <span class="flex-1">Sign up with Facebook</span>
							</div>

						</button>
					</a>
				</div>

				<div class="mb15">
					<!-- <a href="https://www.lifafa.com/google/login" rel="external" data-role="none" data-ajax="false" class="mb15"> -->
					<a href="javascript:void(0);" rel="external" data-role="none" data-ajax="false" class="mb15">
						<button class="social_circle google_plus_bg w-100 text-white font14 border-radius-4px" data-role="none">
							<div class="display_flex">
								<i class="li li_google-plus white_color font14"></i> <span class="flex-1">Sign up with Google</span>
							</div>
						</button>
					</a>
				</div>
			</div>

			<div class="text-divider mb20 font_size22 mx-auto">or</div>

			<a href="javascript:void(0);" class="collapsible primary_text_color text_align_center as-block font14 mb15 ">Sign up using your email ID</a>
			<div class="collapsible-content px-sm-20">
				  <div class="form_mobile_wrapper">
					<form method="POST" action="https://www.lifafa.com/signup" accept-charset="UTF-8" id="signup_form" rel="external" data-ajax="false"><input name="_token" type="hidden" value="JB6ukLfGfniNGVWbmVSAscqJ8b6AFbOGyD16QM2Q">					<input type="hidden" name="_token" value="JB6ukLfGfniNGVWbmVSAscqJ8b6AFbOGyD16QM2Q">

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label width_100">
							<input class="mdl-textfield__input" data-role="none" id="name" name="name" type="text">						<label class="mdl-textfield__label" for="sign_name">Full Name</label>
						</div>

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label width_100">
							<input class="mdl-textfield__input" data-role="none" id="email" name="email" type="email">						<label class="mdl-textfield__label" for="sign_email">Email ID</label>
							<span id="email_signup_error" class="mdl-textfield__error"></span>
						</div>

						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label width_100">
							<input class="mdl-textfield__input reg_password" type="password" data-role= "none" id="password" name="password">
							<label class="mdl-textfield__label" for="login_password">Set a password</label>
							<span id="password_signup_error" class="mdl-textfield__error"></span>
							<span class="" id="password_status"></span>
						</div>

						<div class="padding_top_20 w-sm-50 m-sm-auto">
							<a href="/lifafa_html/create/verify-email/" id="signup_form_submit" type="submit" class="mdl-button mdl-js-button mdl-button--raised primary_color width_100">Continue</a>
						</div>

					</form>
				</div>
			</div>


		</div>




	</div>
</div>

{{ end }}