{{ define "main" }}
<div class="gradient">
	<header class="mdl-shadow--2dp white_bg mobile_header ui-header ui-bar-inherit ui-header-fixed slidedown" data-role="header" data-position="fixed" data-tap-toggle="false" role="banner">
		<div class="display_flex align_items_center padding_left10 padding_right10 ">
			<div class="w-100px">
				<a href="https://www.lifafa.com" data-role="none" class="back_btn p-0" data-transition="slidefade">
					<i class="material-icons">arrow_back</i>
				</a>
			</div>

			<span class="header_text flex-1 text_align_center text-nowrap">Verify your email ID</span>

			<div class="w-100px"></div>
		</div>
	</header>

	<div class="padding_20 ml20 mr20 bg-white display_flex h-100vh flex_column justify_content container w-sm-480px py-sm-5">

		<div class="w-100 mt50">
			<div class="alert alert-success mb20">
				

				{{ if $.Params.resend }}
				<p class="font_size12 gray_color">Verification code sent again to xyz@gmail.com</p>

				{{ else }}
				<p class="font_size12 gray_color">Verification code sent to xyz@gmail.com</p>

				{{ end }}
			</div>
			<p class="black_color text_align_center font_size16 mb40">Enter the 6-digit verification code sent to <br> <a href="javascript:void(0);" class="primary_text_color ">xyz@gmail.com</a> </p>
			<!-- <p class="black_color text_align_center font_weight_bold font_size16 mb10">Enter Code</p> -->

			
			
			<!-- <div class="otp-group m-auto">
				<input class="otp-textbox" type="text" maxlength="6" />

				<div class="text_align_right mt20">
					<a href="/lifafa_html/create/verify-email-resend/" data-role="none" class="forget_pass primary_text_color border-bottom" data-modal-open="forgetModal_entermobile_open">Resend Code</a>
				</div>
			</div> -->
			
			<div class="otp-group m-auto">
				<div class="otp-holder pb-0"> 
	                <input type="number"  maxlength="1"> 
	                <input type="number"  maxlength="1"> 
	                <input type="number"  maxlength="1"> 
	                <input type="number" maxlength="1"> 
	                <input type="number" maxlength="1"> 
	                <input type="number" maxlength="1"> 
	            </div>

	            <div class="text_align_right mt30">
					<a href="/lifafa_html/create/verify-email-resend/" data-role="none" class="forget_pass primary_text_color border-bottom" data-modal-open="forgetModal_entermobile_open">Resend Code</a>
				</div>
			</div>
			

			

		</div>

		<div class="w-100 w-sm-50 m-sm-auto">
			<a href="/lifafa_html/create/lifafa-view/" id="signup_form_submit" type="submit" class="mdl-button mdl-js-button mdl-button--raised primary_color width_100">Sign Up</a>
		</div>

	</div>
</div>
{{ end }}