.mdl-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  /*more-less*/
  /*override*/
}
.mdl-mobile .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  font-weight: 500;
}
.mdl-mobile .card-category {
  overflow-x: auto;
  white-space: nowrap;
}
.mdl-mobile .card-category::-webkit-scrollbar {
  display: none;
}
.mdl-mobile .card-category .list-inline-item.active .mdl-shadow--2dp {
  -webkit-box-shadow: 0 2px 2px 0 #1495ae, 0 3px 1px -2px #1495ae, 0 1px 5px 0 #1495ae;
          box-shadow: 0 2px 2px 0 #1495ae, 0 3px 1px -2px #1495ae, 0 1px 5px 0 #1495ae;
}
.mdl-mobile .card-category .list-inline-item.active .card {
  font-weight: 600;
}
.mdl-mobile .event_select_wrapper .category_event {
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  overflow-x: auto;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  margin-bottom: 0;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 115px;
          flex: 0 0 115px;
  height: 115px;
  background: #f6f6f6;
  margin-bottom: 0;
  position: relative;
  margin-right: 15px;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg .img-holder,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg .img-holder {
  background: url('../images/lifafa-category-sprite.png') no-repeat;
  height: 48px;
  width: 48px;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.selected,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.selected {
  background: #f6f6f6 !important;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.selected:after,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.selected:after {
  display: none;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.selected:before,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.selected:before {
  color: #1595ae;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.color_wedding .img-holder,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.color_wedding .img-holder {
  background-position: -28px -28px;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.color_babyshower .img-holder,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.color_babyshower .img-holder {
  background-position: -314px -28px;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.color_honeymoon .img-holder,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.color_honeymoon .img-holder {
  background-position: -244px -28px;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.color_birthday .img-holder,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.color_birthday .img-holder {
  background-position: -103px -28px;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.color_anniversary .img-holder,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.color_anniversary .img-holder {
  background-position: -175px -28px;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.color_housewarming .img-holder,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.color_housewarming .img-holder {
  background-position: -387px -28px;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.color_farewell .img-holder,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.color_farewell .img-holder {
  background-position: -518px -28px;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.color_custom .img-holder,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.color_custom .img-holder {
  background-position: -453px -28px;
}
.mdl-mobile .category_event.square-variant .select_event_bg {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.22);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.22);
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected {
  -webkit-box-shadow: 0 2px 4px #1595ae, 0 0px 0px #1595ae;
          box-shadow: 0 2px 4px #1595ae, 0 0px 0px #1595ae;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected.color_wedding .img-holder {
  background-position: -28px -102px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected.color_babyshower .img-holder {
  background-position: -314px -102px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected.color_honeymoon .img-holder {
  background-position: -244px -102px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected.color_birthday .img-holder {
  background-position: -103px -102px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected.color_anniversary .img-holder {
  background-position: -175px -102px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected.color_housewarming .img-holder {
  background-position: -387px -102px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected.color_farewell .img-holder {
  background-position: -518px -102px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected.color_custom .img-holder {
  background-position: -453px -102px;
}
.mdl-mobile .category_event.square-variant .select_event_bg:first-child {
  margin-left: 5px;
}
.mdl-mobile .category_event.round-variant .select_event_bg:before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  text-align: center;
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_wedding:before {
  content: "Wedding";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_farewell:before {
  content: "Farewell";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_babyshower:before {
  content: "Babyshower";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_honeymoon:before {
  content: "Honeymoon";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_custom:before {
  content: "Custom";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_birthday:before {
  content: "Birthday";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_anniversary:before {
  content: "Anniversay";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_housewarming:before {
  content: "Housewarming";
}
.mdl-mobile .category_event.round-variant .select_event_bg.selected {
  border: 2px solid #1595ae;
}
.mdl-mobile .card.contribution-details {
  position: relative;
  background: url('../images/lifafa-view-flower.png') no-repeat center;
  background-size: cover;
}
@media (max-width: 767px) {
  .mdl-mobile .card.contribution-details {
    background: #f4f8f9;
  }
}
.mdl-mobile .card.contribution-details:before {
  position: absolute;
  height: 40px;
  width: 40px;
  color: #fff;
  font-family: 'Material Icons';
  content: "\E195";
  background: #1595ae;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  top: -20px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 6px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media (max-width: 767px) {
  .mdl-mobile .card.contribution-details:before {
    display: none;
  }
}
.mdl-mobile .card.contribution-details:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url('../images/ribbon.png') no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
}
@media (max-width: 767px) {
  .mdl-mobile .card.contribution-details:after {
    width: 50px;
    height: 50px;
  }
}
.mdl-mobile .card.contribution-details .icon-holder {
  width: 30px;
  height: 30px;
  background: #1595ae;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.mdl-mobile .card.contribution-details .icon-holder i {
  vertical-align: middle;
}
.mdl-mobile .radio-btn-group .radio-btn {
  display: inline-block;
  position: relative;
}
.mdl-mobile .radio-btn-group .radio-btn:not(:last-child) {
  margin-right: 5px;
}
.mdl-mobile .checkbox-btn-group .checkbox-btn {
  display: inline-block;
  position: relative;
}
.mdl-mobile .checkbox-btn-group .checkbox-btn:not(:last-child) {
  margin-right: 5px;
}
.mdl-mobile .radio-btn-group input[type="radio"],
.mdl-mobile .checkbox-btn-group input[type="radio"],
.mdl-mobile .radio-btn-group input[type="checkbox"],
.mdl-mobile .checkbox-btn-group input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.mdl-mobile .radio-btn-group input[type="radio"] + label,
.mdl-mobile .checkbox-btn-group input[type="radio"] + label,
.mdl-mobile .radio-btn-group input[type="checkbox"] + label,
.mdl-mobile .checkbox-btn-group input[type="checkbox"] + label {
  cursor: pointer;
  padding: .375rem .75rem;
  border: 2px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 8px;
  display: block;
  margin-bottom: 10px;
}
.mdl-mobile .radio-btn-group input[type="radio"] + label:before,
.mdl-mobile .checkbox-btn-group input[type="radio"] + label:before,
.mdl-mobile .radio-btn-group input[type="checkbox"] + label:before,
.mdl-mobile .checkbox-btn-group input[type="checkbox"] + label:before {
  display: none;
}
.mdl-mobile .radio-btn-group input[type="radio"]:checked + label,
.mdl-mobile .checkbox-btn-group input[type="radio"]:checked + label,
.mdl-mobile .radio-btn-group input[type="checkbox"]:checked + label,
.mdl-mobile .checkbox-btn-group input[type="checkbox"]:checked + label {
  background: #fff;
  border: 2px solid #1495ae;
  color: #1495ae;
}
.mdl-mobile .radio-btn-group input[type="radio"]:checked + label:before,
.mdl-mobile .checkbox-btn-group input[type="radio"]:checked + label:before,
.mdl-mobile .radio-btn-group input[type="checkbox"]:checked + label:before,
.mdl-mobile .checkbox-btn-group input[type="checkbox"]:checked + label:before {
  display: none;
}
.mdl-mobile .radio-btn-group input[type="radio"]:checked + label:after,
.mdl-mobile .checkbox-btn-group input[type="radio"]:checked + label:after,
.mdl-mobile .radio-btn-group input[type="checkbox"]:checked + label:after,
.mdl-mobile .checkbox-btn-group input[type="checkbox"]:checked + label:after {
  opacity: 0;
}
.mdl-mobile .mb-3,
.mdl-mobile .my-3 {
  margin-bottom: 1rem !important;
}
.mdl-mobile .mb-0,
.mdl-mobile .my-0 {
  margin-bottom: 0 !important;
}
.mdl-mobile .bg-white {
  background-color: #fff;
}
.mdl-mobile .text-white {
  color: #fff;
}
.mdl-mobile .flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.mdl-mobile .line-height {
  line-height: 1.3;
}
.mdl-mobile .h-100 {
  height: 100% !important;
}
.mdl-mobile .h-100px {
  height: 100px;
}
.mdl-mobile .w-100 {
  width: 100% !important;
}
.mdl-mobile .w-100px {
  width: 100px;
}
.mdl-mobile .text-divider {
  overflow: hidden;
  text-align: center;
  color: #9a9b9b;
  width: 90%;
}
.mdl-mobile .text-divider:before,
.mdl-mobile .text-divider:after {
  background-color: #ccc;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}
.mdl-mobile .text-divider:before {
  right: 1.5em;
  margin-left: -50%;
}
.mdl-mobile .text-divider:after {
  left: 1.5em;
  margin-right: -50%;
}
.mdl-mobile .d-block {
  display: block !important;
}
.mdl-mobile .rounded-circle {
  border-radius: 50% !important;
}
.mdl-mobile .border-tl-radius {
  border-top-left-radius: 4px;
}
.mdl-mobile .border-tr-radius {
  border-top-right-radius: 4px;
}
.mdl-mobile .padding_side_30 {
  padding: 0 30px;
}
.mdl-mobile .align-bottom {
  vertical-align: bottom !important;
}
.mdl-mobile .text-grey {
  color: #ababab;
}
.mdl-mobile .grey-darker {
  color: #767676;
}
.mdl-mobile .border-bottom {
  border-bottom: 1px solid #1595ae !important;
}
.mdl-mobile .flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.mdl-mobile .justify_content_spacebetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mdl-mobile .font_weight_bolder {
  font-weight: 800;
}
.mdl-mobile .alert {
  position: relative;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-family: Lato;
}
.mdl-mobile .alert-success {
  color: #155724;
  background-color: #b8e986;
  border-color: #c3e6cb;
}
.mdl-mobile .text-success {
  color: #5cad0a;
}
.mdl-mobile .vertical-middle {
  vertical-align: middle;
}
.mdl-mobile .alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.mdl-mobile .list-inline {
  padding-left: 0;
  list-style: none;
}
.mdl-mobile .italic {
  font-style: italic;
}
.mdl-mobile .list-inline-item {
  display: inline-block;
}
.mdl-mobile .m-auto {
  margin: auto !important;
}
.mdl-mobile .bg-grey {
  background: #eee;
}
.mdl-mobile .border-radius-4px {
  border-radius: 4px;
}
.mdl-mobile .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .mdl-mobile .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.mdl-mobile .border {
  border: 1px solid #ccc !important;
}
.mdl-mobile .p-1 {
  padding: 0.25rem !important;
}
@media (min-width: 576px) {
  .mdl-mobile .container {
    max-width: 540px;
  }
}
.mdl-mobile .primary_border_color {
  border: 2px solid #1595ae;
}
.mdl-mobile .bg-transparent {
  background-color: transparent !important;
}
@media (min-width: 768px) {
  .mdl-mobile .container {
    max-width: 720px;
  }
}
.mdl-mobile .col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.mdl-mobile .col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.333333%;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.mdl-mobile .col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.333333%;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.mdl-mobile .d-none {
  display: none !important;
}
.mdl-mobile .p-3 {
  padding: 1rem !important;
}
.mdl-mobile .pl-0,
.mdl-mobile .px-0 {
  padding-left: 0 !important;
}
.mdl-mobile .border-0 {
  border: 0 !important;
}
.mdl-mobile .border-gray {
  border-color: #ccc !important;
}
.mdl-mobile .border-lightblue {
  border-color: #f4f8f9 !important;
}
.mdl-mobile .h-100vh {
  height: 100vh;
}
.mdl-mobile .text-nowrap {
  white-space: nowrap !important;
}
.mdl-mobile .overflow_initial {
  overflow: initial;
}
.mdl-mobile .fz-size-xl {
  font-size: 1.15em;
}
.mdl-mobile .mt-0 {
  margin-top: 0;
}
.mdl-mobile .text-grey {
  color: #9e9e9e;
}
.mdl-mobile .text-darkgrey {
  color: #1e1e1e;
}
.mdl-mobile .text-darker {
  color: #4a4a4a;
}
.mdl-mobile .pr-0 {
  padding-right: 0 !important;
}
.mdl-mobile .mb-100 {
  margin-bottom: 100px;
}
.mdl-mobile .position-relative {
  position: relative !important;
}
.mdl-mobile .position-absolute {
  position: absolute !important;
}
.mdl-mobile .h-250px {
  height: 250px;
}
.mdl-mobile .mh-200px {
  min-height: 200px;
}
.mdl-mobile .pt-0 {
  padding-top: 0;
}
.mdl-mobile .mr-0,
.mdl-mobile .mx-0 {
  margin-right: 0 !important;
}
.mdl-mobile .pb-0,
.mdl-mobile .py-0 {
  padding-bottom: 0 !important;
}
.mdl-mobile .pt120 {
  padding-top: 120px;
}
.mdl-mobile .pt150 {
  padding-top: 150px;
}
.mdl-mobile .box-wrap.border-primary {
  border-color: #1595ae;
}
.mdl-mobile .w-75 {
  width: 75%;
}
.mdl-mobile .w-60 {
  width: 60%;
}
.mdl-mobile .border-w-3px {
  border-width: 3px !important;
}
.mdl-mobile .mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mdl-mobile .ml--20px {
  margin-left: -20px;
}
.mdl-mobile .mr--20px {
  margin-right: -20px;
}
@media (min-width: 576px) {
  .mdl-mobile .text-sm-left {
    text-align: left !important;
  }
  .mdl-mobile .text-sm-right {
    text-align: right !important;
  }
  .mdl-mobile .text-sm-center {
    text-align: center !important;
  }
  .mdl-mobile .d-sm-none {
    display: none !important;
  }
  .mdl-mobile .d-sm-block {
    display: block !important;
  }
  .mdl-mobile .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .mdl-mobile .border-sm-bottom-dashed {
    border-bottom: 1px dashed transparent;
  }
  .mdl-mobile .p-sm-0 {
    padding: 0 !important;
  }
  .mdl-mobile .d-sm-block {
    display: block !important;
  }
  .mdl-mobile .d-sm-inline {
    display: inline !important;
  }
  .mdl-mobile .mt-sm-4,
  .mdl-mobile .my-sm-4 {
    margin-top: 1.5rem !important;
  }
  .mdl-mobile .mt-sm-5,
  .mdl-mobile .my-sm-5 {
    margin-top: 3rem !important;
  }
  .mdl-mobile .mb-sm-3,
  .mdl-mobile .my-sm-3 {
    margin-bottom: 1rem !important;
  }
  .mdl-mobile .text-sm-white {
    color: #fff;
  }
  .mdl-mobile .text-sm-white.primary_text_color {
    color: #fff !important;
  }
  .mdl-mobile .w-sm-480px {
    width: 480px;
  }
  .mdl-mobile .py-sm-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  .mdl-mobile .mt-sm--35 {
    margin-top: -35px;
  }
  .mdl-mobile .px-sm-10 {
    padding: 0 10px;
  }
  .mdl-mobile .px-sm-30px {
    padding: 0 30px;
  }
  .mdl-mobile .ml-sm-15px {
    margin-left: 15px !important;
  }
  .mdl-mobile .mr-sm-15px {
    margin-right: 15px !important;
  }
  .mdl-mobile .mr-sm-30px {
    margin-right: 30px !important;
  }
  .mdl-mobile .pb-sm-60 {
    padding-bottom: 60px;
  }
  .mdl-mobile .boxshadow-sm-tlr {
    -webkit-box-shadow: 0px -3px 18px -9px #000000;
            box-shadow: 0px -3px 18px -9px #000000;
  }
  .mdl-mobile .bg-sm-white {
    background: #fff;
  }
  .mdl-mobile .h-sm-100 {
    height: 100%;
  }
  .mdl-mobile .m-sm-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .mdl-mobile .w-sm-50 {
    width: 50% !important;
  }
  .mdl-mobile .mt-sm-5,
  .mdl-mobile .my-sm-5 {
    margin-top: 3rem !important;
  }
  .mdl-mobile .mb-sm-5,
  .mdl-mobile .my-sm-5 {
    margin-bottom: 3rem !important;
  }
  .mdl-mobile .pt-sm-100,
  .mdl-mobile .py-sm-100 {
    padding-top: 100px;
  }
  .mdl-mobile .pt-sm-30 {
    padding-top: 30px;
  }
  .mdl-mobile .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
@media (max-width: 575px) {
  .mdl-mobile .border-xs-bottom {
    border-bottom: 1px solid #1595ae !important;
  }
  .mdl-mobile .pl-xs-3,
  .mdl-mobile .px-xs-3 {
    padding-left: 1rem !important;
  }
  .mdl-mobile .border-xs-0 {
    border: 0 !important;
  }
  .mdl-mobile .d-xs-none {
    display: none !important;
  }
  .mdl-mobile .mb-xs-15px {
    margin-bottom: 15px;
  }
}
.mdl-mobile footer {
  /* The footer will take up as much vertical space as it needs and not a pixel more. */
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.mdl-mobile .disabled {
  pointer-events: none;
  opacity: 0.45;
  cursor: default;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.mdl-mobile header .header-logo {
  padding-left: 16px;
}
@media (min-width: 768px) {
  .mdl-mobile header {
    margin: auto;
    left: -4px;
  }
  .mdl-mobile .user_signin_wrap {
    cursor: pointer;
  }
  .mdl-mobile .user_signin_wrap .user_name {
    position: relative;
  }
  .mdl-mobile .user_signin_wrap .user_name:after {
    content: '\e313';
    font-family: 'Lifafa';
    position: absolute;
    right: -20px;
    top: 0px;
    font-size: 17px;
  }
  .mdl-mobile .admin_content {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    min-width: 210px;
    top: 65px;
    z-index: 223;
    display: none;
    opacity: 0;
    right: 0;
  }
  .mdl-mobile .admin_content li {
    display: block;
    float: none;
  }
  .mdl-mobile .admin_content li a {
    color: #ffffff;
    font-size: 0.875rem;
    padding: 10px 20px;
    display: block;
  }
}
.mdl-mobile footer {
  background: #000;
}
.mdl-mobile footer .responsive_container {
  max-width: 80%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .mdl-mobile footer .responsive_container {
    max-width: 100%;
  }
}
.mdl-mobile footer ul.main-feautures li,
.mdl-mobile footer ul.sub-menus li {
  line-height: 40px;
}
.mdl-mobile footer ul.sub-menus li a {
  color: #a2a2a2;
}
.mdl-mobile footer .copyright-section {
  color: #a2a2a2;
}
.mdl-mobile footer .copyright-section .terms-conditions li {
  line-height: 24px;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .mdl-mobile footer .copyright-section .terms-conditions li {
    padding: 0;
  }
}
.mdl-mobile footer .copyright-section .terms-conditions li:not(:last-child) {
  border-right: 1px solid #a2a2a2;
}
@media (max-width: 767px) {
  .mdl-mobile footer .copyright-section .terms-conditions li:not(:last-child) {
    border: none;
  }
}
.mdl-mobile footer .copyright-section .terms-conditions li a {
  color: #a2a2a2;
}
.mdl-mobile footer .newsletter_wrap .subscribe_form {
  background-color: #fff;
  position: relative;
  border-radius: 4px;
  padding: 3px 0 3px 10px;
  width: 100%;
  margin: 10px 0;
}
.mdl-mobile footer .newsletter_wrap .subscribe_form .subscribe_input {
  background-color: transparent;
  outline: none;
  height: 35px;
  font-size: .875rem;
  border: 0;
  width: 100%;
  color: #838383;
}
.mdl-mobile footer .newsletter_wrap .subscribe_form .subscribe_submit {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #1595ae;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 0;
  color: #fff;
  width: 55px;
  height: 41px;
  outline: 0;
  font-family: Lato;
  font-weight: 600;
  font-size: .875rem;
  cursor: pointer;
}
@media (max-width: 767px) {
  .mdl-mobile footer .social-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.mdl-mobile footer .social-icons li:not(:last-child) {
  margin-right: 5px;
}
.mdl-mobile footer .social-icons li a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 839px) and (min-width: 480px) {
  .mdl-mobile footer .mdl-cell--3-col {
    width: calc(50% - 16px);
    margin-bottom: 30px;
  }
}
@media (max-width: 479px) {
  .mdl-mobile footer .mdl-cell--3-col {
    width: calc(100% - 16px);
    margin-bottom: 30px;
  }
}
.mdl-mobile .breadcrumb {
  list-style: none;
  overflow: hidden;
}
.mdl-mobile .breadcrumb li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.mdl-mobile .breadcrumb li.active a {
  background: #c0ecf6;
}
.mdl-mobile .breadcrumb li.active a:after {
  border-left: 30px solid #c0ecf6;
}
.mdl-mobile .breadcrumb li a {
  background: #f2f2f2;
  text-align: center;
  font-size: 14px;
  color: #1e1e1e;
  text-decoration: none;
  padding: 10px 0 10px 55px;
  position: relative;
  display: block;
}
.mdl-mobile .breadcrumb li a:after {
  border-left: 30px solid #f2f2f2;
}
.mdl-mobile .breadcrumb li:first-child a {
  padding-left: 20px;
}
.mdl-mobile .breadcrumb li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}
.mdl-mobile .breadcrumb li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}
.mdl-mobile #ms1 #tag-input-0 {
  border: 0;
  border-bottom: 2px solid #ccc;
  width: 100% !important;
}
.mdl-mobile #ms1 .tag-sel-item {
  background: #e9eae9;
  color: #1595ae;
  display: inline-block;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 14px;
}
.mdl-mobile #ms1 .tag-sel-item:not(:last-child) {
  margin-right: 5px;
}
.mdl-mobile #ms1 .tag-sel-item .tag-close-btn:after {
  content: "x";
  padding-left: 10px;
  color: #a1a1a1;
}
.mdl-mobile .content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.mdl-mobile .file-uploader {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 8px;
  background: #f6f6f6;
  position: relative;
}
.mdl-mobile .file-uploader input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.mdl-mobile a.collapsible {
  position: relative;
}
.mdl-mobile a.collapsible:after {
  font-family: 'Material Icons';
  content: "\E313";
  margin-left: 10px;
  font-size: 20px;
  display: inline-block;
  vertical-align: bottom;
}
.mdl-mobile a.collapsible.active:after {
  content: "\E316";
}
.mdl-mobile .left-addon {
  position: relative;
}
.mdl-mobile .left-addon:before {
  content: "\20B9";
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 24px;
}
.mdl-mobile .left-addon input {
  padding-left: 15px;
}
.mdl-mobile .collapsible-content {
  display: none;
}
.mdl-mobile .page-banner {
  min-height: 150px;
  background: #1595ae;
}
.mdl-mobile .page-banner.stars-bg {
  background: url('../images/stars-bg.png') repeat bottom;
  background-size: contain;
}
@media (max-width: 767px) {
  .mdl-mobile .page-banner.stars-bg {
    background-size: cover;
  }
}
.mdl-mobile .page-banner.mh-200px {
  min-height: 200px;
}
.mdl-mobile .header-spacer {
  margin-top: 65px;
}
.mdl-mobile .mdl-button {
  border-radius: 4px;
}
.mdl-mobile .mdl-textfield__input,
.mdl-mobile .added_url {
  border-bottom: 2px solid #ccc;
}
.mdl-mobile .mdl-checkbox__box-outline,
.mdl-mobile .mdl-checkbox__focus-helper {
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 4px;
}
.mdl-mobile .redeem_edit_btn {
  text-align: initial;
  margin-top: initial;
}
.mdl-mobile .redeem_edit_btn .edit_lifafa:before {
  display: none;
}
.mdl-mobile .mdl-sm-button {
  height: 36px;
  line-height: 36px;
}
.mdl-mobile .p-0 {
  padding: 0 !important;
}
.mdl-mobile .uploaded--images .single-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  position: relative;
  margin-bottom: 6px;
  text-align: center;
}
.mdl-mobile .uploaded--images .single-image img {
  border-radius: 6px;
}
.mdl-mobile .uploaded--images .single-image i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}
.mdl-mobile .otp-group {
  width: 280px;
}
.mdl-mobile .otp-group .otp-textbox {
  padding-left: 15px;
  letter-spacing: 37px;
  border: 0;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(70%, #000000), color-stop(0%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to left, #000000 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 48px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 280px;
  font-size: 18px;
}
.mdl-mobile .otp-countdown:before {
  /*content: 'Please wait';
		padding-right: 0.5em;
		color: #4a4a4a;*/
}
.mdl-mobile .otp-continue .mdl-button {
  height: auto;
  line-height: 45px;
}
.mdl-mobile .img-icon-holder {
  background: #f6f6f6;
  height: 35px;
  width: 35px;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
}
.mdl-mobile .black-overlay {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.mdl-mobile .lifafa-view-bg {
  background: url('../images/lifafa-view-bg.jpg') no-repeat;
  background-size: cover;
}
.mdl-mobile .tying-knot {
  background: url('../images/tying-knot.jpg') no-repeat center;
  background-size: cover;
}
.mdl-mobile .occasion-container {
  position: relative;
}
.mdl-mobile .occasion-container:before {
  content: "";
  position: absolute;
  background: url(../images/giftbox.png) no-repeat;
  background-size: contain;
  height: 69px;
  width: 70px;
  top: 0;
  right: 0;
}
@media (max-width: 767px) {
  .mdl-mobile .occasion-container:before {
    display: none;
  }
}
.mdl-mobile .images-carousel {
  overflow-x: auto;
}
.mdl-mobile .images-carousel li {
  padding: 5px;
  background: #fff;
  -webkit-box-shadow: 0 0 4px #ccc;
          box-shadow: 0 0 4px #ccc;
  margin-left: 15px;
}
.mdl-mobile .contribution-field {
  padding-left: 28px;
}
.mdl-mobile .contribution-field:before {
  left: 28px;
  font-size: 20px;
  bottom: 8px;
}
.mdl-mobile .powered-by {
  background: url(../images/powerd-by.png) no-repeat bottom;
  background-size: contain;
}
@media (min-width: 576px) {
  .mdl-mobile .powered-by {
    background: none;
  }
}
.mdl-mobile .powered-by .powered-by-child {
  background: url(../images/powerd-by.png) no-repeat bottom;
  background-size: contain;
  height: calc(100vh - 90px);
}
@media (max-width: 767px) {
  .mdl-mobile .powered-by .powered-by-child {
    /*background: none;*/
  }
}
.mdl-mobile .gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}
.mdl-mobile #otp-resend-countdown {
  color: #1595ae;
}
.mdl-mobile .loader {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.mdl-mobile .loader .loader-outter {
  position: absolute;
  border: 4px solid #1595ae;
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: loader-1-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
  animation: loader-1-outter 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}
@-webkit-keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader-1-outter {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media (min-width: 800px) {
  .mdl-mobile .account-container {
    background-color: transparent;
  }
  .mdl-mobile .account-container__wrapper {
    background-color: #fff;
    padding: 30px 20px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
}
.mdl-mobile .lifafa-open-contributions,
.mdl-mobile .payment-summary {
  position: fixed;
  bottom: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  z-index: 9999;
  left: 0;
  right: 0;
}
.mdl-mobile .lifafa-open-contributions .lifafa-contributions,
.mdl-mobile .payment-summary .lifafa-contributions {
  position: relative;
}
.mdl-mobile .lifafa-open-contributions .lifafa-contributions:before,
.mdl-mobile .payment-summary .lifafa-contributions:before {
  font-family: 'Material Icons';
  content: "\E8F6";
  height: 50px;
  width: 50px;
  background: #1595ae;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: -25px;
  margin: 0 auto;
  position: absolute;
  color: #fff;
  font-size: 1.6em;
  line-height: 50px;
}
.mdl-mobile .lifafa-open-contributions.is-shown,
.mdl-mobile .payment-summary.is-shown {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
@media screen and (min-width: 650px) {
  .mdl-mobile .lifafa-open-contributions .container,
  .mdl-mobile .payment-summary .container {
    width: 40%;
  }
  .mdl-mobile .lifafa-open-contributions.is-shown,
  .mdl-mobile .payment-summary.is-shown {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.mdl-mobile .custom-modal {
  position: fixed;
  bottom: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  z-index: 9999;
  left: 0;
  right: 0;
}
.mdl-mobile .custom-modal.is-shown {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
@media screen and (min-width: 650px) {
  .mdl-mobile .custom-modal {
    width: 40%;
    margin: 0 auto;
  }
  .mdl-mobile .custom-modal.is-shown {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.mdl-mobile .show-overlay {
  overflow-y: hidden;
}
@media screen and (max-width: 650px) {
  .mdl-mobile .show-overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  .mdl-mobile .show-overlay + footer {
    display: none;
  }
}
.mdl-mobile .show-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.mdl-mobile .show-overlay header {
  z-index: 0;
}
.mdl-mobile .box-wrap {
  border: 2px solid #b4ddc6;
  position: relative;
}
.mdl-mobile .box-wrap__content {
  z-index: 1;
  position: relative;
}
.mdl-mobile .box-wrap:before {
  content: '';
  position: absolute;
  top: -7px;
  width: 87%;
  right: 0;
  height: 120%;
  background-color: #fff;
  margin: 0 auto;
  left: 0;
}
.mdl-mobile .dismiss__action {
  position: absolute;
  top: 5px;
  right: 13px;
}
.mdl-mobile .dismiss a {
  color: #23d9fd;
}
.mdl-mobile .dismiss a.text-white {
  color: #fff;
  border-color: white !important;
}
.mdl-mobile .mdl-tabs__tab-bar.invite-via {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: none;
}
.mdl-mobile .mdl-tabs__tab-bar.invite-via .mdl-tabs__tab {
  width: 48px;
  border-radius: 50%;
  line-height: 48px;
  padding: initial;
  border-bottom: 2px solid #333;
  -webkit-box-shadow: 0 0 2px #333;
          box-shadow: 0 0 2px #333;
}
.mdl-mobile .mdl-tabs__tab-bar.invite-via .mdl-tabs__tab.is-active {
  border-bottom: 2px solid #1595ae;
  -webkit-box-shadow: 0 0 2px #1595ae;
          box-shadow: 0 0 2px #1595ae;
}
.mdl-mobile .mdl-tabs__tab-bar.invite-via .mdl-tabs__tab:not(:last-child) {
  margin-right: 15px;
}
.mdl-mobile .contrib-banner {
  min-height: 120px;
}
.mdl-mobile .contribution_cart_panel .paymentwrap .li {
  font-size: 1.75rem;
  color: #7c7c7c;
}
.mdl-mobile .box-starter {
  position: relative;
}
.mdl-mobile .box-starter:before,
.mdl-mobile .box-starter:after {
  content: '';
  position: absolute;
  top: -12px;
  left: -10px;
  width: 100px;
  height: 50px;
  z-index: -1;
  border-bottom: 0;
}
.mdl-mobile .box-starter:before {
  border: 2px solid #b4ddc6;
  border-bottom: 0;
  border-right: 0;
}
.mdl-mobile .box-starter:after {
  height: 10px;
  border-right: 2px solid #b4ddc6;
}
.mdl-mobile .contribute_amount .has-placeholder {
  padding-top: 0;
}
.mdl-mobile .contribute_amount__field .mdl-textfield__input {
  font-size: 30px;
  color: #000;
}
.mdl-mobile .contribute_amount__field .mdl-textfield__input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}
.mdl-mobile .contribute_amount__field .mdl-textfield__input::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}
.mdl-mobile .contribute_amount__field .mdl-textfield__input:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}
.mdl-mobile .contribute_amount__field .mdl-textfield__input:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}
.mdl-mobile .contribute_amount .edit {
  position: absolute;
  top: -2px;
  border-radius: 50%;
  right: 0;
  background-color: #eee;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
}
.mdl-mobile .payment-summary {
  background-color: #fff;
  padding: 1.5em;
}
.mdl-mobile .payment-summary .contri-amt {
  border-bottom: 2px dashed #b7b7b7;
}
.mdl-mobile .payment-summary .lif_my_contri_total {
  border-bottom: 2px dashed #b7b7b7;
}
.mdl-mobile .payment-summary .message-icon {
  position: absolute;
  top: -43px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: #fff;
  padding-left: 2px;
}
@media screen and (min-width: 650px) {
  .mdl-mobile .payment-summary {
    width: 40%;
    margin: 0 auto;
  }
}
.mdl-mobile .progress-loader .barr {
  height: 5px;
  background-color: #ddd;
  border-radius: 4px;
}
.mdl-mobile .progress-loader .barr_progress {
  background-color: #1595ae;
  height: 5px;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.mdl-mobile .angle-right {
  font-size: 3em;
}
.mdl-mobile .total-contrib {
  background-image: url('../images/confetti.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 180px;
  background-position: center;
}
@media (min-width: 576px) {
  .mdl-mobile .total-contrib {
    background-size: 50% 100%;
  }
}
.mdl-mobile .total-contrib__amt {
  font-size: 1.5em;
}
.mdl-mobile .visibility-action {
  background-color: #eee;
}
.mdl-mobile .visibility-action__icon {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  width: 68px;
  height: 68px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #ffe27f;
  border: 4px solid #fff;
}
.mdl-mobile .contributors .custom-check {
  -webkit-appearance: none;
  margin: 0;
}
.mdl-mobile .contributors .custom-check:before {
  content: '\E835';
  font-family: "Material Icons";
  text-rendering: optimizeLegibility;
  font-size: 2em;
}
.mdl-mobile .contributors .custom-check:checked:before {
  content: '\E834';
  color: #1595ae;
}
.mdl-mobile .contributors__list {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.34);
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.34);
  padding: 20px;
}
.mdl-mobile .contributors__list label {
  height: auto;
}
.mdl-mobile .thank-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 5px;
  background-color: #ff6362;
}
.mdl-mobile .thank-icon i {
  font-size: 1.1em;
  color: #fff;
}
.mdl-mobile .sticky-thanks {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 1;
  display: none;
}
.mdl-mobile .sticky-thanks.show {
  display: block;
}
.mdl-mobile .contrib-message {
  background-color: #fff;
  padding: 1em;
  padding-bottom: 0;
}
.mdl-mobile .contrib-message .cancel-btn {
  background-color: transparent;
}
.mdl-mobile .contrib-message .thank-icon {
  position: absolute;
  top: -22px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 45px;
  height: 45px;
}
.mdl-mobile .contrib-message .thank-icon i {
  font-size: 1.6em;
}
.mdl-mobile .contrib-message .more i {
  left: -5px;
  vertical-align: middle;
  position: relative;
}
.mdl-mobile .gift-lifafa .message-box {
  height: 200px;
}
.mdl-mobile .preview-mail {
  position: fixed;
  top: 0em;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.68);
  overflow: auto;
  display: none;
}
.mdl-mobile .preview-mail .dotted-border {
  background-color: #fff;
  border: 3px dashed #969696;
  border-radius: 5px;
}
.mdl-mobile .preview-mail .banner {
  min-height: 120px;
  background-size: cover;
  background-position: center bottom;
}
.mdl-mobile .preview-mail .preview-mail__title:before {
  display: none;
}
@media (max-width: 767px) {
  .mdl-mobile .gift-bg {
    background-image: url('../images/Accept-Lifafa.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.mdl-mobile .bubble-bg {
  background-image: url('../images/bg-bubbles.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 25%;
}
@media (min-width: 576px) {
  .mdl-mobile .bubble-bg {
    padding-top: 21%;
  }
}
.mdl-mobile .morecontent span {
  display: none;
}
.mdl-mobile .morelink {
  display: inline;
  white-space: nowrap;
  font-size: 14px;
  color: #1595ae;
}
.mdl-mobile .mdl-checkbox.is-focused .mdl-checkbox__focus-helper {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}
