.mdl-mobile .file-uploader {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 8px;
  background: #f6f6f6;
  position: relative;
}
.mdl-mobile .file-uploader input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.mdl-mobile a.collapsible {
  position: relative;
}
.mdl-mobile a.collapsible:after {
  font-family: 'Material Icons';
  content: "\E313";
  margin-left: 10px;
  font-size: 20px;
  display: inline-block;
  vertical-align: bottom;
}
.mdl-mobile a.collapsible.active:after {
  content: "\E316";
}
.mdl-mobile .left-addon {
  position: relative;
}
.mdl-mobile .left-addon:before {
  content: "\20B9";
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 24px;
}
.mdl-mobile .left-addon input {
  padding-left: 15px;
}
.mdl-mobile .collapsible-content {
  display: none;
}
.mdl-mobile .page-banner {
  height: 150px;
  background: #1595ae;
}
.mdl-mobile .mdl-button {
  border-radius: 4px;
}
.mdl-mobile .mdl-textfield__input,
.mdl-mobile .added_url {
  border-bottom: 2px solid #ccc;
}
.mdl-mobile .mdl-checkbox__box-outline,
.mdl-mobile .mdl-checkbox__focus-helper {
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 4px;
}
.mdl-mobile .mdl-sm-button {
  height: 36px;
  line-height: 36px;
}
.mdl-mobile .p-0 {
  padding: 0 !important;
}
.mdl-mobile .uploaded--images .single-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  position: relative;
  margin-bottom: 6px;
  text-align: center;
}
.mdl-mobile .uploaded--images .single-image img {
  border-radius: 6px;
}
.mdl-mobile .uploaded--images .single-image i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}
.mdl-mobile .otp-group {
  text-align: center;
}
.mdl-mobile .otp-group input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  width: 10%;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
  font-size: 24px;
  font-family: Lato;
}
.mdl-mobile .otp-textbox {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(70%, #000000), color-stop(0%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to left, #000000 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 100%;
}
.mdl-mobile .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  font-weight: 500;
}
.mdl-mobile .card-category {
  overflow-x: auto;
  white-space: nowrap;
}
.mdl-mobile .card-category::-webkit-scrollbar {
  display: none;
}
.mdl-mobile .card-category .list-inline-item.active .mdl-shadow--2dp {
  -webkit-box-shadow: 0 2px 2px 0 #1495ae, 0 3px 1px -2px #1495ae, 0 1px 5px 0 #1495ae;
          box-shadow: 0 2px 2px 0 #1495ae, 0 3px 1px -2px #1495ae, 0 1px 5px 0 #1495ae;
}
.mdl-mobile .card-category .list-inline-item.active .card {
  font-weight: 600;
}
.mdl-mobile .event_select_wrapper .category_event {
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  overflow-x: auto;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  margin-bottom: 0;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 115px;
          flex: 0 0 115px;
  height: 115px;
  background: #f6f6f6;
  margin-bottom: 0;
  position: relative;
  margin-right: 15px;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.selected,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.selected {
  background: #f6f6f6 !important;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.selected:after,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.selected:after {
  display: none;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.selected:before,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.selected:before {
  color: #1595ae;
}
.mdl-mobile .category_event.square-variant .select_event_bg {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.22);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.22);
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected {
  -webkit-box-shadow: 0 2px 4px #1595ae, 0 0px 0px #1595ae;
          box-shadow: 0 2px 4px #1595ae, 0 0px 0px #1595ae;
}
.mdl-mobile .category_event.square-variant .select_event_bg:first-child {
  margin-left: 5px;
}
.mdl-mobile .category_event.round-variant .select_event_bg:before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  text-align: center;
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_wedding:before {
  content: "Wedding";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_farewell:before {
  content: "Farewell";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_babyshower:before {
  content: "Babyshower";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_honeymoon:before {
  content: "Honeymoon";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_custom:before {
  content: "Custom";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_birthday:before {
  content: "Birthday";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_anniversary:before {
  content: "Anniversay";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_housewarming:before {
  content: "Housewarming";
}
.mdl-mobile .category_event.round-variant .select_event_bg.selected {
  border: 2px solid #1595ae;
}
.mdl-mobile .radio-btn-group .radio-btn {
  display: inline-block;
  position: relative;
}
.mdl-mobile .radio-btn-group .radio-btn:not(:last-child) {
  margin-right: 5px;
}
.mdl-mobile .checkbox-btn-group .checkbox-btn {
  display: inline-block;
  position: relative;
}
.mdl-mobile .checkbox-btn-group .checkbox-btn:not(:last-child) {
  margin-right: 5px;
}
.mdl-mobile .radio-btn-group input[type="radio"],
.mdl-mobile .checkbox-btn-group input[type="radio"],
.mdl-mobile .radio-btn-group input[type="checkbox"],
.mdl-mobile .checkbox-btn-group input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.mdl-mobile .radio-btn-group input[type="radio"] + label,
.mdl-mobile .checkbox-btn-group input[type="radio"] + label,
.mdl-mobile .radio-btn-group input[type="checkbox"] + label,
.mdl-mobile .checkbox-btn-group input[type="checkbox"] + label {
  cursor: pointer;
  padding: .375rem .75rem;
  border: 2px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 8px;
  display: block;
  margin-bottom: 10px;
}
.mdl-mobile .radio-btn-group input[type="radio"] + label:before,
.mdl-mobile .checkbox-btn-group input[type="radio"] + label:before,
.mdl-mobile .radio-btn-group input[type="checkbox"] + label:before,
.mdl-mobile .checkbox-btn-group input[type="checkbox"] + label:before {
  display: none;
}
.mdl-mobile .radio-btn-group input[type="radio"]:checked + label,
.mdl-mobile .checkbox-btn-group input[type="radio"]:checked + label,
.mdl-mobile .radio-btn-group input[type="checkbox"]:checked + label,
.mdl-mobile .checkbox-btn-group input[type="checkbox"]:checked + label {
  background: #fff;
  border: 2px solid #1495ae;
  color: #1495ae;
}
.mdl-mobile .radio-btn-group input[type="radio"]:checked + label:before,
.mdl-mobile .checkbox-btn-group input[type="radio"]:checked + label:before,
.mdl-mobile .radio-btn-group input[type="checkbox"]:checked + label:before,
.mdl-mobile .checkbox-btn-group input[type="checkbox"]:checked + label:before {
  display: none;
}
.mdl-mobile .radio-btn-group input[type="radio"]:checked + label:after,
.mdl-mobile .checkbox-btn-group input[type="radio"]:checked + label:after,
.mdl-mobile .radio-btn-group input[type="checkbox"]:checked + label:after,
.mdl-mobile .checkbox-btn-group input[type="checkbox"]:checked + label:after {
  opacity: 0;
}
.mdl-mobile .mb-3,
.mdl-mobile .my-3 {
  margin-bottom: 1rem !important;
}
.mdl-mobile .mb-0,
.mdl-mobile .my-0 {
  margin-bottom: 0 !important;
}
.mdl-mobile .w-100 {
  width: 100% !important;
}
.mdl-mobile .bg-white {
  background-color: #fff !important;
}
.mdl-mobile .text-white {
  color: #fff !important;
}
.mdl-mobile .flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.mdl-mobile .h-100 {
  height: 100% !important;
}
.mdl-mobile .w-100 {
  width: 100% !important;
}
.mdl-mobile .text-divider {
  overflow: hidden;
  text-align: center;
  font-size: 22px;
  color: #9a9b9b;
  width: 90%;
  margin: 0px auto 20px;
}
.mdl-mobile .text-divider:before,
.mdl-mobile .text-divider:after {
  background-color: #ccc;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}
.mdl-mobile .text-divider:before {
  right: 1.5em;
  margin-left: -50%;
}
.mdl-mobile .text-divider:after {
  left: 1.5em;
  margin-right: -50%;
}
.mdl-mobile .d-block {
  display: block !important;
}
.mdl-mobile .rounded-circle {
  border-radius: 50% !important;
}
.mdl-mobile .border-tl-radius {
  border-top-left-radius: 4px;
}
.mdl-mobile .border-tr-radius {
  border-top-right-radius: 4px;
}
.mdl-mobile .padding_side_30 {
  padding: 0 30px;
}
.mdl-mobile .align-bottom {
  vertical-align: bottom !important;
}
.mdl-mobile .text-grey {
  color: #ababab;
}
.mdl-mobile .border-bottom {
  border-bottom: 1px solid #1595ae !important;
}
.mdl-mobile .flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.mdl-mobile .font_weight_bolder {
  font-weight: 800;
}
.mdl-mobile .alert {
  position: relative;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-family: Lato;
}
.mdl-mobile .alert-success {
  color: #155724;
  background-color: #b8e986;
  border-color: #c3e6cb;
}
