.mdl-mobile .content-wrapper {
  margin: auto;
}
.mdl-mobile .file-uploader {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 8px;
  background: #f6f6f6;
  position: relative;
}
.mdl-mobile .file-uploader input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.mdl-mobile a.collapsible {
  position: relative;
}
.mdl-mobile a.collapsible:after {
  font-family: 'Material Icons';
  content: "\E313";
  margin-left: 10px;
  font-size: 20px;
  display: inline-block;
  vertical-align: bottom;
}
.mdl-mobile a.collapsible.active:after {
  content: "\E316";
}
.mdl-mobile .left-addon {
  position: relative;
}
.mdl-mobile .left-addon:before {
  content: "\20B9";
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 24px;
}
.mdl-mobile .left-addon input {
  padding-left: 15px;
}
.mdl-mobile .collapsible-content {
  display: none;
}
.mdl-mobile .page-banner {
  height: 150px;
  background: #1595ae;
}
.mdl-mobile .header-spacer {
  margin-top: 65px;
}
.mdl-mobile .mdl-button {
  border-radius: 4px;
}
.mdl-mobile .mdl-textfield__input,
.mdl-mobile .added_url {
  border-bottom: 2px solid #ccc;
}
.mdl-mobile .mdl-checkbox__box-outline,
.mdl-mobile .mdl-checkbox__focus-helper {
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 4px;
}
.mdl-mobile .redeem_edit_btn {
  text-align: initial;
  margin-top: initial;
}
.mdl-mobile .redeem_edit_btn .edit_lifafa:before {
  display: none;
}
.mdl-mobile .mdl-sm-button {
  height: 36px;
  line-height: 36px;
}
.mdl-mobile .p-0 {
  padding: 0 !important;
}
.mdl-mobile .uploaded--images .single-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  position: relative;
  margin-bottom: 6px;
  text-align: center;
}
.mdl-mobile .uploaded--images .single-image img {
  border-radius: 6px;
}
.mdl-mobile .uploaded--images .single-image i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}
.mdl-mobile .otp-group {
  text-align: center;
}
.mdl-mobile .otp-group input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  width: 10%;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
  font-size: 24px;
  font-family: Lato;
}
.mdl-mobile .otp-textbox {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(70%, #000000), color-stop(0%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to left, #000000 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 100%;
}
.mdl-mobile .img-icon-holder {
  background: #f6f6f6;
  height: 35px;
  width: 35px;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
}
.mdl-mobile .black-overlay {
  background: rgba(0, 0, 0, 0.5);
}
.mdl-mobile .lifafa-view-bg {
  background: url('../images/lifafa-view-bg.jpg') no-repeat;
  background-size: cover;
}
.mdl-mobile .occasion-container {
  position: relative;
}
.mdl-mobile .occasion-container:before {
  content: "";
  position: absolute;
  background: url(../images/giftbox.png) no-repeat;
  background-size: contain;
  height: 69px;
  width: 70px;
  top: 0;
  right: 0;
}
@media (max-width: 767px) {
  .mdl-mobile .occasion-container:before {
    display: none;
  }
}
.mdl-mobile .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  font-weight: 500;
}
.mdl-mobile .card-category {
  overflow-x: auto;
  white-space: nowrap;
}
.mdl-mobile .card-category::-webkit-scrollbar {
  display: none;
}
.mdl-mobile .card-category .list-inline-item.active .mdl-shadow--2dp {
  -webkit-box-shadow: 0 2px 2px 0 #1495ae, 0 3px 1px -2px #1495ae, 0 1px 5px 0 #1495ae;
          box-shadow: 0 2px 2px 0 #1495ae, 0 3px 1px -2px #1495ae, 0 1px 5px 0 #1495ae;
}
.mdl-mobile .card-category .list-inline-item.active .card {
  font-weight: 600;
}
.mdl-mobile .event_select_wrapper .category_event {
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  overflow-x: auto;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  margin-bottom: 0;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 115px;
          flex: 0 0 115px;
  height: 115px;
  background: #f6f6f6;
  margin-bottom: 0;
  position: relative;
  margin-right: 15px;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.selected,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.selected {
  background: #f6f6f6 !important;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.selected:after,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.selected:after {
  display: none;
}
.mdl-mobile .event_select_wrapper .category_event.round-variant .select_event_bg.selected:before,
.mdl-mobile .event_select_wrapper .category_event.square-variant .select_event_bg.selected:before {
  color: #1595ae;
}
.mdl-mobile .category_event.square-variant .select_event_bg {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.22);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 0px 0px rgba(0, 0, 0, 0.22);
}
.mdl-mobile .category_event.square-variant .select_event_bg .img-holder {
  background: url('../images/lifafa-category-sprite.png') no-repeat;
  height: 48px;
  width: 48px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected {
  -webkit-box-shadow: 0 2px 4px #1595ae, 0 0px 0px #1595ae;
          box-shadow: 0 2px 4px #1595ae, 0 0px 0px #1595ae;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected.color_wedding .img-holder {
  background-position: -28px -102px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected.color_babyshower .img-holder {
  background-position: -314px -102px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected.color_honeymoon .img-holder {
  background-position: -244px -102px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected.color_birthday .img-holder {
  background-position: -103px -102px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected.color_anniversary .img-holder {
  background-position: -175px -102px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected.color_housewarming .img-holder {
  background-position: -387px -102px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected.color_farewell .img-holder {
  background-position: -518px -102px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.selected.color_custom .img-holder {
  background-position: -453px -102px;
}
.mdl-mobile .category_event.square-variant .select_event_bg:first-child {
  margin-left: 5px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.color_wedding .img-holder {
  background-position: -28px -28px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.color_babyshower .img-holder {
  background-position: -314px -28px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.color_honeymoon .img-holder {
  background-position: -244px -28px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.color_birthday .img-holder {
  background-position: -103px -28px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.color_anniversary .img-holder {
  background-position: -175px -28px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.color_housewarming .img-holder {
  background-position: -387px -28px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.color_farewell .img-holder {
  background-position: -518px -28px;
}
.mdl-mobile .category_event.square-variant .select_event_bg.color_custom .img-holder {
  background-position: -453px -28px;
}
.mdl-mobile .category_event.round-variant .select_event_bg:before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  text-align: center;
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_wedding:before {
  content: "Wedding";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_farewell:before {
  content: "Farewell";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_babyshower:before {
  content: "Babyshower";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_honeymoon:before {
  content: "Honeymoon";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_custom:before {
  content: "Custom";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_birthday:before {
  content: "Birthday";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_anniversary:before {
  content: "Anniversay";
}
.mdl-mobile .category_event.round-variant .select_event_bg.color_housewarming:before {
  content: "Housewarming";
}
.mdl-mobile .category_event.round-variant .select_event_bg.selected {
  border: 2px solid #1595ae;
}
.mdl-mobile .card.contribution-details {
  position: relative;
  background: #1595ae;
  background-size: contain;
}
@media (max-width: 767px) {
  .mdl-mobile .card.contribution-details {
    background: #f4f8f9;
  }
}
.mdl-mobile .card.contribution-details:before {
  position: absolute;
  height: 40px;
  width: 40px;
  color: #fff;
  font-family: 'Material Icons';
  content: "\E195";
  background: #1595ae;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  top: -20px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 6px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media (max-width: 767px) {
  .mdl-mobile .card.contribution-details:before {
    display: none;
  }
}
.mdl-mobile .card.contribution-details:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 100px;
}
.mdl-mobile .card.contribution-details .icon-holder {
  width: 30px;
  height: 30px;
  background: #1595ae;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.mdl-mobile .card.contribution-details .icon-holder i {
  vertical-align: middle;
}
.mdl-mobile .radio-btn-group .radio-btn {
  display: inline-block;
  position: relative;
}
.mdl-mobile .radio-btn-group .radio-btn:not(:last-child) {
  margin-right: 5px;
}
.mdl-mobile .checkbox-btn-group .checkbox-btn {
  display: inline-block;
  position: relative;
}
.mdl-mobile .checkbox-btn-group .checkbox-btn:not(:last-child) {
  margin-right: 5px;
}
.mdl-mobile .radio-btn-group input[type="radio"],
.mdl-mobile .checkbox-btn-group input[type="radio"],
.mdl-mobile .radio-btn-group input[type="checkbox"],
.mdl-mobile .checkbox-btn-group input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.mdl-mobile .radio-btn-group input[type="radio"] + label,
.mdl-mobile .checkbox-btn-group input[type="radio"] + label,
.mdl-mobile .radio-btn-group input[type="checkbox"] + label,
.mdl-mobile .checkbox-btn-group input[type="checkbox"] + label {
  cursor: pointer;
  padding: .375rem .75rem;
  border: 2px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 8px;
  display: block;
  margin-bottom: 10px;
}
.mdl-mobile .radio-btn-group input[type="radio"] + label:before,
.mdl-mobile .checkbox-btn-group input[type="radio"] + label:before,
.mdl-mobile .radio-btn-group input[type="checkbox"] + label:before,
.mdl-mobile .checkbox-btn-group input[type="checkbox"] + label:before {
  display: none;
}
.mdl-mobile .radio-btn-group input[type="radio"]:checked + label,
.mdl-mobile .checkbox-btn-group input[type="radio"]:checked + label,
.mdl-mobile .radio-btn-group input[type="checkbox"]:checked + label,
.mdl-mobile .checkbox-btn-group input[type="checkbox"]:checked + label {
  background: #fff;
  border: 2px solid #1495ae;
  color: #1495ae;
}
.mdl-mobile .radio-btn-group input[type="radio"]:checked + label:before,
.mdl-mobile .checkbox-btn-group input[type="radio"]:checked + label:before,
.mdl-mobile .radio-btn-group input[type="checkbox"]:checked + label:before,
.mdl-mobile .checkbox-btn-group input[type="checkbox"]:checked + label:before {
  display: none;
}
.mdl-mobile .radio-btn-group input[type="radio"]:checked + label:after,
.mdl-mobile .checkbox-btn-group input[type="radio"]:checked + label:after,
.mdl-mobile .radio-btn-group input[type="checkbox"]:checked + label:after,
.mdl-mobile .checkbox-btn-group input[type="checkbox"]:checked + label:after {
  opacity: 0;
}
.mdl-mobile .mb-3,
.mdl-mobile .my-3 {
  margin-bottom: 1rem !important;
}
.mdl-mobile .mb-0,
.mdl-mobile .my-0 {
  margin-bottom: 0 !important;
}
.mdl-mobile .bg-white {
  background-color: #fff !important;
}
.mdl-mobile .text-white {
  color: #fff !important;
}
.mdl-mobile .flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.mdl-mobile .h-100 {
  height: 100% !important;
}
.mdl-mobile .w-100 {
  width: 100% !important;
}
.mdl-mobile .w-100px {
  width: 100px;
}
.mdl-mobile .text-divider {
  overflow: hidden;
  text-align: center;
  font-size: 22px;
  color: #9a9b9b;
  width: 90%;
  margin: 0px auto 20px;
}
.mdl-mobile .text-divider:before,
.mdl-mobile .text-divider:after {
  background-color: #ccc;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}
.mdl-mobile .text-divider:before {
  right: 1.5em;
  margin-left: -50%;
}
.mdl-mobile .text-divider:after {
  left: 1.5em;
  margin-right: -50%;
}
.mdl-mobile .d-block {
  display: block !important;
}
.mdl-mobile .rounded-circle {
  border-radius: 50% !important;
}
.mdl-mobile .border-tl-radius {
  border-top-left-radius: 4px;
}
.mdl-mobile .border-tr-radius {
  border-top-right-radius: 4px;
}
.mdl-mobile .padding_side_30 {
  padding: 0 30px;
}
.mdl-mobile .align-bottom {
  vertical-align: bottom !important;
}
.mdl-mobile .text-grey {
  color: #ababab;
}
.mdl-mobile .border-bottom {
  border-bottom: 1px solid #1595ae !important;
}
.mdl-mobile .flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.mdl-mobile .font_weight_bolder {
  font-weight: 800;
}
.mdl-mobile .alert {
  position: relative;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-family: Lato;
}
.mdl-mobile .alert-success {
  color: #155724;
  background-color: #b8e986;
  border-color: #c3e6cb;
}
.mdl-mobile .list-inline {
  padding-left: 0;
  list-style: none;
}
.mdl-mobile .list-inline-item {
  display: inline-block;
}
.mdl-mobile .m-auto {
  margin: auto !important;
}
.mdl-mobile .bg-grey {
  background: #eee;
}
.mdl-mobile .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .mdl-mobile .container {
    max-width: 540px;
  }
}
.mdl-mobile .primary_border_color {
  border: 2px solid #1595ae;
}
.mdl-mobile .bg-transparent {
  background-color: transparent !important;
}
@media (min-width: 768px) {
  .mdl-mobile .container {
    max-width: 720px;
  }
}
.mdl-mobile .col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.mdl-mobile .d-none {
  display: none !important;
}
.mdl-mobile .p-3 {
  padding: 1rem !important;
}
.mdl-mobile .pl-0,
.mdl-mobile .px-0 {
  padding-left: 0 !important;
}
.mdl-mobile .border-0 {
  border: 0 !important;
}
.mdl-mobile .border-gray {
  border-color: #ccc !important;
}
.mdl-mobile .border-lightblue {
  border-color: #f4f8f9 !important;
}
@media (min-width: 576px) {
  .mdl-mobile .text-sm-left {
    text-align: left !important;
  }
  .mdl-mobile .text-sm-right {
    text-align: right !important;
  }
  .mdl-mobile .text-sm-center {
    text-align: center !important;
  }
  .mdl-mobile .d-sm-none {
    display: none !important;
  }
  .mdl-mobile .d-sm-block {
    display: block !important;
  }
  .mdl-mobile .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .mdl-mobile .border-sm-bottom-dashed {
    border-bottom: 1px dashed transparent;
  }
  .mdl-mobile .p-sm-0 {
    padding: 0 !important;
  }
  .mdl-mobile .d-sm-block {
    display: block !important;
  }
  .mdl-mobile .mt-sm-4,
  .mdl-mobile .my-sm-4 {
    margin-top: 1.5rem !important;
  }
  .mdl-mobile .mt-sm-5,
  .mdl-mobile .my-sm-5 {
    margin-top: 3rem !important;
  }
  .mdl-mobile .mb-sm-3,
  .mdl-mobile .my-sm-3 {
    margin-bottom: 1rem !important;
  }
  .mdl-mobile .text-sm-white {
    color: #fff !important;
  }
}
@media (max-width: 575px) {
  .mdl-mobile .border-xs-bottom {
    border-bottom: 1px solid #1595ae !important;
  }
  .mdl-mobile .pl-xs-3,
  .mdl-mobile .px-xs-3 {
    padding-left: 1rem !important;
  }
  .mdl-mobile .border-xs-0 {
    border: 0 !important;
  }
}
.mdl-mobile header .header-logo {
  padding-left: 16px;
}
@media (min-width: 768px) {
  .mdl-mobile header {
    margin: auto;
    left: -4px;
  }
}
