@brand-color: #1595ae;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  font-weight: 500;
}

.card-category {
	overflow-x: auto;
	white-space: nowrap;
	&::-webkit-scrollbar { 
	    display: none; 
	}
	.list-inline-item {
		&.active {
			.mdl-shadow--2dp {
				box-shadow: 0 2px 2px 0 rgba(20, 149, 174, 1), 0 3px 1px -2px rgba(20, 149, 174, 1), 0 1px 5px 0 rgba(20, 149, 174, 1);
			}
			.card {
				font-weight: 600;
			}
		}
	}
}

.event_select_wrapper {
	.category_event {
		flex-direction: initial;
		overflow-x: auto;
		justify-content: initial;
		align-items: initial;
		margin-bottom: 0;
		&.round-variant,
		&.square-variant {
			.select_event_bg {
				flex: 0 0 115px;
				height: 115px;
				background: #f6f6f6;
				margin-bottom: 0;
				position: relative;
				margin-right: 15px;
				.img-holder {
					background: url('../images/lifafa-category-sprite.png') no-repeat;
					height: 48px;
					width: 48px;
				}
				&.selected {
					background: #f6f6f6 !important;
					&:after {
						display: none;
					}
					&:before {
						color: #1595ae;
					}
				}
				&.color_wedding {
					.img-holder {
						background-position:  -28px -28px;
					}
				}
				&.color_babyshower {
					.img-holder {
						background-position:  -314px -28px;
					}
				}
				&.color_honeymoon {
					.img-holder {
						background-position:  -244px -28px;
					}
				}
				&.color_birthday {
					.img-holder {
						background-position:  -103px -28px;
					}
				}
				&.color_anniversary {
					.img-holder {
						background-position:  -175px -28px;
					}
				}
				&.color_housewarming {
					.img-holder {
						background-position:  -387px -28px;
					}
				}
				&.color_farewell {
					.img-holder {
						background-position:  -518px -28px;
					}
				}
				&.color_custom {
					.img-holder {
						background-position:  -453px -28px;
					}
				}

			}
		}
		// owl carousel
		&.owl-carousel {
			width: 82%;
			margin: 0 auto;
			position: relative;
			overflow-x: initial;
			.owl-stage-outer {
			}
			.owl-nav {
				.owl-prev,
				.owl-next {
					position: absolute;
					top: 50px;
					color: @brand-color;
					font-size: 74px;
				}
				.owl-prev {
					left: -45px;
					@media (max-width: 768px) {
						left: -35px;
					}
				}
				.owl-next {
					right: -45px;
					@media (max-width: 768px) {
						right: -35px;
					}
				}
			}
		}
	}
}

.category_event {
	// square variant
	&.square-variant {
		.select_event_bg {
			box-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
			
			&.selected {
				box-shadow: 0 2px 4px #1595ae, 0 0px 0px #1595ae;
				&.color_wedding {
					.img-holder {
						background-position:  -28px -102px;
					}
				}
				&.color_babyshower {
					.img-holder {
						background-position:  -314px -102px;
					}
				}
				&.color_honeymoon {
					.img-holder {
						background-position:  -244px -102px;
					}
				}
				&.color_birthday {
					.img-holder {
						background-position:  -103px -102px;
					}
				}
				&.color_anniversary {
					.img-holder {
						background-position:  -175px -102px;
					}
				}
				&.color_housewarming {
					.img-holder {
						background-position:  -387px -102px;
					}
				}
				&.color_farewell {
					.img-holder {
						background-position:  -518px -102px;
					}
				}
				&.color_custom {
					.img-holder {
						background-position:  -453px -102px;
					}
				}
			}
			&:first-child {
				margin-left: 5px;
			}
			
		}

	}

	// round variant
	&.round-variant {
		.select_event_bg {
			&:before {
				position: absolute;
				left: 0;
				right: 0;
				bottom: -25px;
				text-align: center;
			}
			&.color_wedding:before {
				content: "Wedding";
			}
			&.color_farewell:before {
				content: "Farewell";
			}
			&.color_babyshower:before {
				content: "Babyshower";
			}
			&.color_honeymoon:before {
				content: "Honeymoon";
			}

			&.color_custom:before {
				content: "Custom";
			}
			&.color_birthday:before {
				content: "Birthday";
			}
			&.color_anniversary:before {
				content: "Anniversay";
			}
			&.color_housewarming:before {
				content: "Housewarming";
			}
			&.selected {
				border: 2px solid #1595ae;
			}
		}
	}
}


.card {
	&.contribution-details {
		position: relative;
		// background: @brand-color;
		// background: url('../images/lifafa-view-flower.png') no-repeat center;
		background-color: #f4f8f9;
		background-size: cover;
		border: 1px solid @brand-color;
		@media (max-width: 767px) {
			background: #f4f8f9;
			// color: #fff;
			border: 0;
		}
		&:before {
			position: absolute;
		    height: 40px;
		    width: 40px;
		    color: #fff;
		    font-family: 'Material Icons';
		    content: "\E195";
		    background: @brand-color;
		    font-size: 25px;
		    line-height: 40px;
		    text-align: center;
		    border-radius: 50%;
		    top: -20px;
		    margin: 0 auto;
		    left: 0;
		    right: 0;
		    border: 6px solid #fff;
		    transform:rotate(45deg);
		    @media (max-width: 767px) {
		    	display: none;
		    }
		}
		&:after {
			// content: "";
			// position: absolute;
			// top: 0;
			// right: 0;
			// background: url('../images/ribbon.png') no-repeat;
			// background-size: contain;
			// height: 100px;
			// width: 100px;
			display: none;
			@media (max-width: 767px) {
				width: 50px;
				height: 50px; 	
			} 
		}
		.icon-holder {
			width: 30px;
			height: 30px;
			background: @brand-color;
			color: #fff;
			border-radius: 50%;
			text-align: center;
			line-height: 26px;
			transform: rotate(45deg);
			i {
				vertical-align: middle;
			}
		}
	}
}


