// @brand-color: #1595ae;

.content-wrapper{
	// max-width: 550px;
	// margin: auto;
	// height: 100%;
	flex: 1 0 auto;
	// box-shadow: 0 0 10px 1px rgba(128, 128, 128, 0.3);
	// width: 100%;
	@media (max-width: 767px) {
		// display: flex;
		// flex-direction: column;
		// height: 100%;
	}
}

.file-uploader {
	border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 8px;
    background: #f6f6f6;
    position: relative;
    input[type="file"] {
    	position: absolute;
    	left: 0;
    	top: 0;
    	opacity: 0;
    }
}

a.collapsible {
	position: relative;
	&:after {
		font-family: 'Material Icons';
		content: "\E313";
		margin-left: 10px;
		font-size: 20px;
		display: inline-block;
		vertical-align: bottom;
	}
	&.active {
		&:after {
			content: "\E316";
		}
	}
}


.left-addon {
	position: relative;
	&:before {
		content: "\20B9";
		position: absolute;
		left: 0;
		bottom: 10px;
		font-size: 24px;
	}
	input {
		padding-left: 15px;
	}
}

.collapsible-content {
  display: none;
}

.page-banner {
	min-height: 150px;
	background: #1595ae;
	&.stars-bg {
		background: url('../images/stars-bg.png') repeat bottom;
		background-size: contain;
	}
}

.header-spacer{
	margin-top: 65px;
}

.mdl-button {
	border-radius: 4px
}

.mdl-textfield__input,
.added_url {
	border-bottom: 2px solid #ccc;
}

// checkbox
.mdl-checkbox__box-outline,
.mdl-checkbox__focus-helper {
	top: 0;
	width: 22px;
	height: 22px;
	border-radius: 4px;
}

.redeem_edit_btn {
	text-align: initial;
	margin-top: initial;
	.edit_lifafa {
		&:before {
			display: none;
		}
	}
}

.mdl-sm-button {
	height: 36px;
	line-height: 36px;
}

.p-0 {
  padding: 0 !important;
}

// image upload
.uploaded--images {
	.single-image {
		flex: 0 0 49%;
		position: relative;
		margin-bottom: 6px;
		text-align: center;
		img {
			border-radius: 6px;
		}
		i {
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 24px;
		}
	}
}

.otp-group {
	width: 280px;
	.otp-textbox {
		  padding-left: 15px;
		  letter-spacing: 42px;
		  border: 0;
		  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
		  background-position: bottom;
		  background-size: 50px 1px;
		  background-repeat: repeat-x;
		  background-position-x: 35px;
		  width: 280px;
	}
}

.otp-countdown{
	&:before{
		content: 'Please wait';
		padding-right: 0.5em;
		color: #4a4a4a;
	}
}

.otp-continue{
	.mdl-button{
		height: auto;
	    line-height: 45px;
	}
}


.img-icon-holder {
	background: #f6f6f6;
	height: 35px;
	width: 35px;
	line-height: 32px;
	border-radius: 50%;
	text-align: center;
}


.black-overlay {
	background: rgba(0, 0, 0, 0.5);
}

.lifafa-view-bg {
	background: url('../images/lifafa-view-bg.jpg') no-repeat;
	background-size: cover;
}

.occasion-container {
	position: relative;
	&:before {
		content: "";
	    position: absolute;
	    background: url(../images/giftbox.png) no-repeat;
	    background-size: contain;
	    height: 69px;
	    width: 70px;
	    top: 0;
	    right: 0;
	    @media (max-width: 767px) {
	    	display: none;
	    }
	}
}

.images-carousel {
	overflow-x: auto;
	li {
		padding: 5px;
		background: #fff;
		box-shadow: 0 0 4px #ccc;
		margin-left: 15px;
	}
}

.contribution-field {
	padding-left: 28px;
	&:before {
		left: 28px;
		font-size: 20px;
		bottom: 8px;
	}
}
.powered-by {
	background: url(../images/powerd-by.png) no-repeat bottom;
	background-size: contain;
	@media (min-width: 576px) {
		background: none;
	}
	.powered-by-child {
		background: url(../images/powerd-by.png) no-repeat bottom;
		background-size: contain;
		// position: absolute;
		// top: 0;
		// right: 0;
		// bottom: 0;
		// left: 0;
		height: calc(~'100vh - 90px');
		@media (max-width: 767px) {
			background: none;
		}
	}
}

// gradient
.gradient {
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); 
}

// countdown
#otp-resend-countdown {
	color: @brand-color;
	&:before {
		// content: "please wait";
		// margin-right: 5px;
	}
}

// loader
.loader {
	position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
	.loader-outter {
		position: absolute;
	    border: 4px solid @brand-color;
	    border-left-color: transparent;
	    border-bottom: 0;
	    width: 100%;
	    height: 100%;
	    border-radius: 50%;
	    -webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
	    animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
	}
}

@keyframes loader-1-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

// Login desktop wrapper box-shadow

.account-container{
	@media (min-width: 800px){
		background-color: transparent;
		&__wrapper{
			background-color: #fff;
			padding: 30px 20px;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		}
	}
}

.lifafa-open-contributions {
	position: fixed;
    // height: 70vh;
    bottom: 0;
    transition: 0.5s all;
    transform: translateY(120%);
    z-index: 9999;
    left: 0;
    right: 0;
	.lifafa-contributions {
	position: relative;
	&:before {
		font-family: 'Material Icons';
		content: "\E8F6";
		height: 50px;
		width: 50px;
		background: @brand-color;
		border-radius: 50%;
		left: 0;
		right: 0;
		top: -25px;
		margin: 0 auto;
		position: absolute;
		color: #fff;
		font-size: 1.6em;
		line-height: 50px;

		}
	}
	&.is-shown {
		transform: translateY(0%);
	}
}

.show-overlay {
	overflow-y: hidden;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100%;
	}
	header {
		z-index: 0;
	}
}


.box-wrap{
	border: 2px solid #b4ddc6;
	position: relative;
	&__content{
		z-index: 1;
    	position: relative;
	}
	&:before{
		content: '';
		position: absolute;
    	top: -7px;
	    width: 87%;
	    right: 0;
	    height: 120%;
	    background-color: #fff;
	    margin: 0 auto;
	    left: 0;
	}
}

.dismiss{
	&__action{
		position: absolute;
    	top: 5px;
    	right: 13px;
	}
	a{
		color: #23d9fd;
	}
}

.mdl-tabs__tab-bar {
	&.invite-via {
		justify-content: center;
		border-bottom: none;
		.mdl-tabs__tab {
			width: 48px;
			border-radius: 50%;
			line-height: 48px;
			padding: initial;
			border-bottom: 2px solid #333;
			box-shadow: 0 0 2px #333;
			&.is-active {
				border-bottom: 2px solid @brand-color;
				box-shadow: 0 0 2px @brand-color;
			}
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}
}




